[2020-10-01 08:45] Sank6 commented on #256
I'm quite busy with exams now. I'll work on it when I can.

[2020-10-01 17:37] rockoj opened #259 "fields.flat is not a function"
fields.flat is not a function

![Screenshot_20201001-192549](https://user-images.githubusercontent.com/53316573/94843718-62052880-041d-11eb-99a1-bedf609e25ec.png)

im not sure what wrong and How to fix it. Someone help me

[2020-10-01 18:07] Sank6 commented on #258
Do you have the files in the right folder?

[2020-10-01 18:08] Sank6 commented on #259
I'm not getting this error. Do you have the right versions of the modules installed?

[2020-10-01 18:14] Sank6 commented on #256
Fixed

[2020-10-01 18:14] #256 closed

[2020-10-01 18:22] Sank6 commented on #254
The regular add bot and edit bot works fine. Just fixed the resubmit though.

[2020-10-01 18:22] #254 closed

[2020-10-01 18:28] the-cute-panda commented on #258
yes
![Screenshot (824)](https://user-images.githubusercontent.com/71202582/94848694-39f3d600-03d9-11eb-8420-35e9ea39d206.png)

[2020-10-01 18:30] the-cute-panda commented on #258
![Screenshot (825)](https://user-images.githubusercontent.com/71202582/94848907-863f1600-03d9-11eb-89a5-adc7acdd909a.png)

[2020-10-01 18:51] Sank6 commented on #241
Fixed

[2020-10-01 18:51] #241 closed

[2020-10-01 18:57] the-cute-panda commented on #258
I have it on a VPS that is running Ubuntu

[2020-10-01 19:52] Sank6 commented on #236
Fixed

[2020-10-01 19:52] #236 closed

[2020-10-01 20:05] hello936 commented on #232
@Sank6 how the progress on this

[2020-10-01 20:10] Sank6 commented on #258
Works fine for me. Maybe it's something to do with the folder you're running it from.

[2020-10-01 20:15] the-cute-panda commented on #258
I know I haven't changed anything in the folders my bot works just fine on
the server and I'm able to host a simple website on it

[2020-10-01 20:19] Sank6 commented on #258
I mean the folder you're running it from. Make sure you're "cd"ing to the root folder and running `node src/index.js`

[2020-10-01 20:51] the-cute-panda commented on #258
I'm running it like normal

[2020-10-01 20:56] Sank6 commented on #258
Works for me, so it's related to your setup.

[2020-10-01 21:06] the-cute-panda commented on #258
I know there's nothing wrong with it because everything else works just
fine

[2020-10-02 00:18] the-cute-panda commented on #258
im using digitalocean to have my vps

[2020-10-02 06:21] InsiderJanggo opened #260 "[SUGGESTION] show user badges"

[2020-10-02 06:44] ririko5834 commented on #259
I know this error is caused because of using another node version. Try to remove embeds from all messages and it will work.

[2020-10-02 11:04] XysID commented on #259
Hi, @rockoj!

I'm suggest you to upgrade your node.js to latest LTS (12)
You can upgrade it by using this on your `package.json`

[code]

[2020-10-02 12:09] GameDevolopersGroup opened #261 "Website Help"
I want Help with website
i have a domain named http://f20-bot.ml
but in config.js i have added it but its not working

Can anyone give me a quick Guide Of website

[2020-10-02 13:47] discord-bot-purchases commented on #261
its config.json

[2020-10-02 14:03] Sank6 commented on #260
what do you mean?

[2020-10-02 14:04] Sank6 commented on #261
You need to actually run the website. Have a look at [the setup guide](https://github.com/Sank6/Discord-Bot-List/wiki/Setup-Information).

[2020-10-02 14:04] #261 closed

[2020-10-02 14:11] Sank6 commented on #232
Added

[2020-10-02 14:11] #232 closed

[2020-10-02 14:16] Sank6 commented on #258
Can you explain how you're running it.

[2020-10-02 14:23] InsiderJanggo commented on #260
i mean show the user badges like hypersquad badge nitro badge

[2020-10-02 14:24] Sank6 commented on #231
Added

[2020-10-02 14:24] #231 closed

[2020-10-02 15:05] hello936 commented on #232
@Sank6 coolio

[2020-10-02 15:15] hello936 opened #262 "sumbting bot doesn't work"
I own my own botlist, but I can even add my own bot. It never works!!! Can you fix this??? @Sank6

[2020-10-02 15:16] Sank6 commented on #262
Works fine for me. Is there something wrong with your config?

[2020-10-02 15:16] Sank6 commented on #260
I don't think that's going to be relevant. Too much clutter.

[2020-10-02 15:16] #260 closed

[2020-10-02 16:00] the-cute-panda commented on #258
im starting it like this
![Screenshot (832)_LI](https://user-images.githubusercontent.com/71202582/94944123-a5977b00-048d-11eb-910d-49dee4110ff2.jpg)

[2020-10-02 22:04] Sank6 commented on #258
Yeah go up a folder and try `pm2 start src/botlist.js`

[2020-10-03 00:44] the-cute-panda commented on #258
I did that and got it to start but its still not working

[2020-10-03 12:38] hello936 commented on #262
Nope! In fact it works for majority of the people. But some people like me, it doesn't submit. It just stays at the form and reloads. It doesn't take me to the success page. @Sank6

[2020-10-03 14:04] Sank6 commented on #258
Not entirely sure why then. Maybe it's something to do with pm2 and module alias?

[2020-10-03 14:04] Sank6 commented on #262
Maybe there's an issue with the config or what you're entering?

[2020-10-03 14:07] the-cute-panda commented on #258
I started it without pm2 and just started it with node but it did the same
thing

[2020-10-03 15:32] GameDevolopersGroup opened #263 "Website Isuue"
Bot Does not acces Website Can u Please Help me doing This

[2020-10-03 17:34] shootdot opened #264 "Color Change"
How do I change the color ? in CSS it's `--primary`. How can I change the color of `--primary`

[2020-10-03 17:39] shootdot commented on #264
and I am getting this error in console i dont know if it will cause problem but yet it didn't cause
https://i.imgur.com/h9XW4H5.png

[2020-10-03 17:39] shootdot commented on #264
![image](https://user-images.githubusercontent.com/55920587/94998175-e643e100-05c0-11eb-8f0f-98dc591d199e.png)

[2020-10-04 01:29] hello936 commented on #262
@Sank6 Nope! Everything is correct.

[2020-10-04 01:29] hello936 commented on #262
@Sank6 I have tried re-installing it multiple times and it still doesn't work.

[2020-10-04 01:38] hello936 opened #265 "admin panel"
Maybe make an admin dashboard to replace the queue command @Sank6

[2020-10-04 02:24] RITIKDHAYAL-PHOENIX opened #266 "Question.. ?"
How to connect website to my own domain which i purchase from godaddy.
@Sank6

[2020-10-04 07:33] Sank6 commented on #265
Already been suggested

[2020-10-04 07:33] #265 closed

[2020-10-04 07:33] Sank6 commented on #263
Can you explain your problem

[2020-10-04 07:34] Sank6 commented on #264
That error shouldn't cause any problems. Change the colours in the theme files in the dynamic folder.

[2020-10-04 07:34] #264 closed

[2020-10-04 07:35] Sank6 commented on #266
Have a look at the wiki.

[2020-10-04 07:35] #266 closed

[2020-10-04 07:36] Sank6 commented on #258
Try checking to see uf you actually have the files in `src/dynamic`

[2020-10-04 07:36] #259 closed

[2020-10-04 07:37] Sank6 commented on #262
I can't seem to be able to reproduce this problem. I can't help you without more information.

[2020-10-04 07:37] #262 closed

[2020-10-04 09:32] EggyOnCrack opened #267 "Hey there! Every time I try and add a bot, it says "Unknown Error""

[2020-10-04 09:33] EggyOnCrack commented on #267
![Uploading image.png…]()

[2020-10-04 13:35] Sank6 commented on #267
Uhh, check your config file.

[2020-10-04 13:49] Sank6 opened #268 "Read this before opening an issue"
# For Bugs
 - Only report bugs that are actually related to this and not a general question. Have a look at the **[FAQs](https://github.com/Sank6/Discord-Bot-List/wiki/FAQs)**.
 - Check your **config file** is correct. Have a look at **[the wiki](https://github.com/Sank6/Discord-Bot-List/wiki/Setup-Information#config)** for help.
 - Check your **[setup](https://github.com/Sank6/Discord-Bot-List/wi

[2020-10-04 14:34] hello936 opened #269 "Official Demo"
What if you made a demo version, so people can try it! I am willing to host it if you want. @Sank6

[2020-10-04 16:39] Sank6 commented on #269
No it's fine. It's open sourced and free sk people can try it if they want anyway.

[2020-10-04 16:39] #269 closed

[2020-10-04 19:55] discord-bot-purchases opened #270 "I figured out how to know if a bots verified or not"
I figured it out!! For the field of the if its a verified bot or not,

This is what you do,

if(client.user.flags.has('VERIFIED_BOT') {
 idk create div class thingy
}

[2020-10-04 20:01] discord-bot-purchases commented on #270
So basiccly you could do:

client.users.cache.get(bot_id).user.flags.has('VERIFIED_BOT')

[2020-10-04 20:46] Sank6 commented on #270
Oh cool, I'm guessing you're suggesting this to be added as a feature. I'll add it to the readme. 👍

[2020-10-04 23:44] idk-pixel opened #271 "Title"
Leave a comment

[2020-10-04 23:45] idk-pixel commented on #271
Lol

[2020-10-05 00:52] the-cute-panda commented on #258
I do files in src/dynamic

[2020-10-05 02:07] EggyOnCrack commented on #267
![image](https://user-images.githubusercontent.com/69737561/95033946-6f235f80-071c-11eb-95eb-389b6ef0655f.png)

[2020-10-05 02:13] EggyOnCrack commented on #267
![image](https://user-images.githubusercontent.com/69737561/95034180-4c457b00-071d-11eb-95d6-67dce881cac4.png)

[2020-10-05 04:00] #267 closed

[2020-10-05 09:00] EggyOnCrack opened #272 "How can I make it, admins can delete bots?"

[2020-10-05 09:50] EggyOnCrack commented on #272
Nice try. But you ain't getting anything from me
![image](https://user-images.githubusercontent.com/69737561/95065110-17f1af00-075d-11eb-829e-c289bc85cc73.png)

[2020-10-05 15:50] RITIKDHAYAL-PHOENIX opened #273 "not able to understant how to connect my godaddy domain please help me"
not able to understant how to connect my godaddy domain please tell me once and if u can please explain it clearly am not understanding how to do that....

[2020-10-05 17:55] Sank6 commented on #272
Use the `!remove` command

[2020-10-05 17:55] Sank6 commented on #271
?

[2020-10-05 17:56] Sank6 commented on #273
Use DNS routing - google it. Also: https://github.com/Sank6/Discord-Bot-List/issues/268

[2020-10-05 17:56] #273 closed

[2020-10-05 17:56] #271 closed

[2020-10-05 17:57] #263 closed

[2020-10-05 17:58] Sank6 commented on #258
It works fine for me. There's not enough information to reproduce this issue. I'm sorry I can't help.

[2020-10-05 17:58] #258 closed

[2020-10-05 22:10] EggyOnCrack opened #274 "Remove"
When I to t!remove <bot> <reason>. It removes from the server but not website?

[2020-10-06 01:56] idk-pixel opened #275 "Cannot read property 'bot_developer' of undefined"
Cannot read property 'bot_developer' of undefined

The .verify command does this.

[2020-10-06 01:57] idk-pixel commented on #275
It sends it to mod log, but it gives error

[2020-10-06 03:27] RITIKDHAYAL-PHOENIX opened #276 "Help"
I not understand how to connect a GoDaddy domain to this web please help me what exactly i have to do to connect my domain to my code...

[2020-10-06 07:13] ayaan1005 commented on #276
how can we use server count api?

[2020-10-06 07:31] Sank6 commented on #274
Ok, I'll have a look. It should do both.

[2020-10-06 07:32] Sank6 commented on #275
Ok, I'll have a look

[2020-10-06 07:32] Sank6 commented on #276
Please stop spamming issues. I have already answered: https://github.com/Sank6/Discord-Bot-List/issues/273#issuecomment-703791485

[2020-10-06 07:33] Sank6 commented on #276
And @ayaan1005 , look at the wiki

[2020-10-06 07:33] #276 closed

[2020-10-06 13:41] ayaan1005 opened #277 "additional owner"
inf someone adds an additional owner id, then in the channel log its shows the name of the additional owners' name, not the real owner name

[2020-10-06 22:49] RITIKDHAYAL-PHOENIX commented on #276
@Sank6  am not understanding in your wiki please help me

[2020-10-06 22:54] Sank6 commented on #276
Please google it. Use a DNS record to point the c
domain to your host. It isn't related to this repo.

[2020-10-07 12:36] eraters opened #278 "a question so please add the question tag"
Is there a way to change the main page? Like where it shows this https://img.eraters.xyz/i/79wf3.png
I would like to modify the front-end to perfection, but I don't know where the main page is stored.

[2020-10-07 16:58] Sank6 commented on #278
All the pages are in the `dynamic` folder and the assets (like css, js) are in `public`

[2020-10-07 16:58] #278 closed

[2020-10-07 17:06] Sank6 commented on #277
Just tested it. It logs both the owner and the additional owners.

[2020-10-07 17:07] Sank6 commented on #275
Check your config file has `role_ids`

[2020-10-07 17:09] Sank6 commented on #275
Oh wait it happens for the `remove` command, not verify.

[2020-10-07 17:13] Sank6 commented on #274
It does delete from the website. It's still in the database and marked as deleted, so the user can still re-add it.

[2020-10-07 17:13] #274 closed

[2020-10-07 17:33] Sank6 commented on #270
Added

[2020-10-07 17:33] #270 closed

[2020-10-07 17:34] Sank6 commented on #275
Fixed

[2020-10-07 17:34] #275 closed

[2020-10-07 23:10] idk-pixel opened #279 "HTTPS"
I recently figured out how to configure my website for the https,

so i can make a pull request, mind making a branch called https?

Thanks

[2020-10-08 01:17] RITIKDHAYAL-PHOENIX opened #280 "sugesstion"
should make categories in list like this ;-
1.Certified / verified bots
2.Promoted bots
3.Top voted bots

[2020-10-08 16:20] Sank6 commented on #280
Already suggested. Read [this](https://github.com/Sank6/Discord-Bot-List/issues/268).

[2020-10-08 16:20] #280 closed

[2020-10-08 16:20] Sank6 commented on #279
You don't need to change the code for https? Feel free to open a pull request but I don't see why you need to change anything.

[2020-10-08 16:20] #279 closed

[2020-10-09 08:56] #277 closed

[2020-10-10 00:08] TheDeathStreamer opened #281 "Captcha to prevent spam"
Maybe add a captcha to prevent bot adding spam for example xd:https://i.imgur.com/yumRcZU.png

[2020-10-10 22:29] terriblecoder1 opened #282 "issue with connecting mongo db"
can anyone help me connect mongodb? I am also having issues with deploying the site it gives me error and i'm not sure what to do

[2020-10-10 22:51] Sank6 commented on #282
Can you send the error(s)

[2020-10-10 23:12] terriblecoder1 commented on #282
https://gyazo.com/74e19b811f8d35b82f3adcfbd37ab5c4

I also need help setting up the config and connecting mongo db, your tutorial wasn't too understanding for me and got me confused.

[2020-10-10 23:19] terriblecoder1 commented on #282
new error: https://gyazo.com/3a39937d0afcfc0b304438d39f6aa4dc

[2020-10-10 23:22] terriblecoder1 commented on #282
I am also not sure how to connect discord api and stuff

[2020-10-11 01:06] terriblecoder1 commented on #282
Now its working for me but I want to know how to access my mongodb cluster so I can view my website

[2020-10-11 09:10] Sank6 commented on #282
The Discord creds are self explanatory. You just need thr information from the developer page on Discord.
For MongoDB, if you're self hosting, use `mongodb://localhost:PORT/DATABASE_NAME`. If you're using an external one, like Atlas, it gives you the connection string to put in your config file.

[2020-10-11 12:29] Sank6 commented on #281
Added to readme 👍

[2020-10-11 15:21] terriblecoder1 commented on #282
I already connected to the database of mongodb now I can't access my site, the config file is already done.

[2020-10-11 19:33] Sank6 commented on #282
Try `localhost`

[2020-10-11 21:35] terriblecoder1 commented on #282
I did just now, the site itself isn't showing up at all. is there a way to deploy this thing? I followed all the steps in the wiki help, I connected to the mongodb database too and when I viewed the site it just shows me my files... something has to be wrong.

[2020-10-11 21:41] Sank6 commented on #282
If it's showing you your files, then you're not actually running it. To "deploy" it, run `npm start`

[2020-10-11 21:53] terriblecoder1 commented on #282
I did npm start https://gyazo.com/83564c17c3b7dd303c5eac043a40593a this is what it shows.

[2020-10-12 07:36] Sank6 commented on #282
Then it's running on port 80.

[2020-10-12 15:57] terriblecoder1 commented on #282
so what am I supposed to do now?

[2020-10-12 17:38] Sank6 commented on #282
It should be accesible on `localhost`

[2020-10-12 18:46] terriblecoder1 commented on #282
I tried still not working

[2020-10-13 15:50] Sank6 commented on #282
It's something related to your setup but if it says it's running on port 80, it should be working. I guess you can try changing the port but I don't know what else could cause this issue.

[2020-10-13 15:52] Zaid-maker commented on #282
The most common port for mongo is 2271 I think

[2020-10-13 16:38] Zaid-maker commented on #282
instead of using localhost thing use connection string through mongodb compass

[2020-10-13 17:31] Sank6 commented on #282
I think his issue is with accessing the site, not the mongodb connection

[2020-10-13 23:01] terriblecoder1 commented on #282
Yeah it is with accessing the site, the mongodb is connected. I followed all the steps and it still doesn't let me access the site :(

[2020-10-14 04:10] terriblecoder1 commented on #282
Already found a new project that works, I am just going to close this. thank you guys.

[2020-10-14 04:11] #282 closed

[2020-10-14 17:52] jlbubbles092 opened #287 "Little Question"
How do you change the favicon?

[2020-10-14 18:02] jlbubbles092 commented on #287
This is the head.pug in the includes folder.
[code]

[2020-10-14 19:19] Sank6 commented on #287
Yeah you can just edit the favicon in `head.pug`

[2020-10-14 19:19] #287 closed

[2020-10-15 11:53] jlbubbles092 commented on #287
But I don't know how...

[2020-10-15 13:14] jlbubbles092 commented on #287
Okay, I fixed it with the help of glitch image files.

[2020-10-15 17:37] tovade opened #290 "[SUGGESTION] add nsfw on bot profile"

[2020-10-15 18:11] zarar2312 opened #291 "Upvote System?"
Have bot vote in cache upvote command?

[2020-10-15 19:43] Sank6 commented on #291
Already suggested

[2020-10-15 19:43] #291 closed

[2020-10-15 19:46] Sank6 commented on #290
It kinda already is. NSFW bots have their avatar's blurred. I don't think you need a badge on the profile page to say it explicitly.

[2020-10-15 19:46] #290 closed

[2020-10-16 20:28] JectaEx opened #292 "Updating."
# Hey!
## I have a question.
### So basicly you guys are making this project better and better but i would like to update my instance of it with new things you guys are updating on the git. Is there an easy way to do that?

[2020-10-16 20:51] Sank6 commented on #292
I guess you can just clone the github repo: `git clone https://github.com/Sank6/Discord-Bot-List`. And then for every update, just do `git pull origin master` to get the new stuff. It shouldn't overwrite your config file because it's in the `.gitignore`. 👍

[2020-10-16 20:51] #292 closed

[2020-10-17 08:28] Zaid-maker commented on #292
Cloning the repo is the best way.

[2020-10-17 21:17] Cinnamonsroll opened #293 "Suggestuon"
Better search like the top.gg search where it shows results before you complete the search and hit the search button

[2020-10-17 21:46] Sank6 commented on #293
That would spam database requests and web requests. Any suggestion on how this should be implemented?

[2020-10-17 21:50] Cinnamonsroll commented on #293
When I talked to some people about this they suggested https://rxjs-dev.firebaseapp.com/guide/overview and also using no post request for search just some Ajax and then appending some li

[2020-10-19 03:53] shootdot opened #295 "Approval Bot Role [BUG]"
Hey there. I noticed a bug that the user who have approval bot role can't verify or decline the bots. Please fix it. Only admin user id's are able to verify.
[code]

[2020-10-19 20:14] Sank6 commented on #295
Fixed. The owner of the bot will still have perms though 👍

[2020-10-19 20:14] #295 closed

[2020-10-20 04:45] shootdot opened #296 "Just a Question"
Hey there
In Readme you have have Server Count API how can I access that ?

[2020-10-20 04:48] Zaid-maker commented on #296
Hello
So if you have added any bot to your bot list that is owned by you and you want to post server count right so all have to do is go to your bots edit page then scroll down to the end click on authorization token copy that and I advise u to use node-fetch to post server count.

[2020-10-20 07:24] shootdot commented on #296
@Zaid-maker Hey there Thanks for the information would you mind if u provide a sample code please ?

[2020-10-20 07:26] Zaid-maker commented on #296
Yeah sure I will as soon as possible I am on my PC.

On Tue, Oct 20, 2020, 12:25 PM shoot.dot <notifications@github.com> wrote:

[2020-10-20 07:31] shootdot commented on #296
THanks

[2020-10-20 10:53] Sank6 commented on #296
https://github.com/Sank6/Discord-Bot-List/wiki/Server-Count-API

[2020-10-20 10:54] #296 closed

[2020-10-20 11:23] Zaid-maker commented on #296
No he wants the example of node-fetch

On Tue, Oct 20, 2020, 3:54 PM Sank6 <notifications@github.com> wrote:

[2020-10-20 15:46] Sank6 commented on #296
That is node fetch

[2020-10-20 16:07] Zaid-maker commented on #296
But some people confuse at that point.

On Tue, 20 Oct 2020 8:47 PM Sank6, <notifications@github.com> wrote:

[2020-10-21 19:23] metinyalcink opened #297 "broken command and question"
remove command does not work properly and When does your to do list end?

[2020-10-22 21:33] Sank6 commented on #297
What's wrong with the remove command? Also, I'm not actively working on this repository so there's no estimate for when it'll end.

[2020-10-23 13:55] ElemelkyaDima opened #298 "When will the admin panel be?"

[2020-10-23 19:01] iamKTD opened #299 "Error: Failed to lookup view "index" in views directory "src/dynamic""
How do I fix the "**Error: Failed to lookup view "index" in views directory "src/dynamic"**" error?

[2020-10-23 21:37] OrionVi opened #300 "[HOW] HEY, how i can setup this repo to glitch?"
i wanna know how to setup this to glitch

[2020-10-24 01:23] Sank6 commented on #298
I don't actively work on this so there's no estimate.

[2020-10-24 01:23] #298 closed

[2020-10-24 01:24] Sank6 commented on #300
Please check the wiki. This isn't designed to be hosted on glitch but you can try. I'd assume you just clone the repository.

[2020-10-24 01:24] #300 closed

[2020-10-24 01:26] Sank6 commented on #299
Make sure you're running it from `npm start` or `node src/index.js` and not `node index.js`

[2020-10-24 03:30] iamKTD commented on #299
Okay, that worked, but I ran into another issue:

Uncaught Promise Error:
**Error: The module '/var/www/[domain name]/node_modules/canvas/build/Release/canvas.node'
was compiled against a different Node.js version using
NODE_MODULE_VERSION 72. This version of Node.js requires
NODE_MODULE_VERSION 88. Please try re-compiling or re-installing**

How do I upgrade canvas from version 72 to 88?

I insta

[2020-10-24 07:59] Zaid-maker commented on #299
Try to properly install the dependencies because canvas take some time to install.

[2020-10-24 10:43] Sank6 commented on #299
That's probably the issue. You installed canvas on a different node version to the one you're running it with. Delete the `node_modules` folder and then retry `npm i`

[2020-10-24 10:44] Zaid-maker commented on #299
Yup sank this is the solution.

On Sat, Oct 24, 2020, 3:43 PM Sank6 <notifications@github.com> wrote:

[2020-10-24 11:15] iamKTD commented on #299
Solved! Thanks.. worked like a charm.

[2020-10-24 11:15] #299 closed

[2020-10-24 11:16] Zaid-maker commented on #299
Ok we loved to hear that.

On Sat, Oct 24, 2020, 4:15 PM Kevin The Developer <notifications@github.com>
wrote:

[2020-10-24 13:10] idk-pixel opened #301 "Edit bot"
If your a additional owner and want to edit a bot, it says only additional owners can edit owner. But I don't even touch. Also you can delete the bot if additional owner which is bug.

[2020-10-24 15:49] iamKTD opened #302 "Site not displaying properly"
Hi Sank6,

I ran into a third issue. After I managed to get it up and running fine, connected MongoDB, editing configurations, etc., the site looked like this:

![image](https://user-images.githubusercontent.com/44924113/97085925-dbe09a00-15f6-11eb-9318-4771ee13acf2.png)
![image](https://user-images.githubusercontent.com/44924113/97085936-eac74c80-15f6-11eb-895c-cc407f8ec9c2.png)
![image](https://

[2020-10-24 16:59] Zaid-maker commented on #302
the css is not loading

On Sat, 24 Oct 2020 at 20:49, issue-label-bot[bot] <notifications@github.com>
wrote:

[2020-10-24 17:00] Zaid-maker commented on #302
@iamKTD  How command you use to start the application?

[2020-10-24 18:20] Sank6 commented on #302
Yeah it appears your CSS isn't loading. Make sure you're running `npm start`

[2020-10-24 19:18] Zaid-maker commented on #302
yup

[2020-10-26 18:12] Mr-LegitHD opened #303 "NPM start"
<img width="825" alt="error" src="https://user-images.githubusercontent.com/58080940/97211274-172dc500-17bf-11eb-85ed-f236766eb108.PNG">
I'm getting this error when i use npm start

[2020-10-27 00:16] Sank6 commented on #303
Switch to a different port or stop the process running on that port.

[2020-10-27 00:16] #303 closed

[2020-10-27 00:16] #302 closed

[2020-10-27 00:17] #297 closed

[2020-10-27 14:39] Mr-LegitHD opened #304 "Website not beeing Display"
Hello when i start the programm with npm start it woroks like on the first pic (yes i have to use port 443
<img width="823" alt="port" src="https://user-images.githubusercontent.com/58080940/97316731-5f55f180-186a-11eb-84e3-256d51818bd1.PNG">
)
But Then when i go on the website i see online this basic apacha2 sirte
<img width="661" alt="basic" src="https://user-images.githubusercontent.com/5808094

[2020-10-27 14:48] Zaid-maker commented on #304
Try changing your port to 3000 or 5500

On Tue, Oct 27, 2020, 7:40 PM issue-label-bot[bot] <notifications@github.com>
wrote:

[2020-10-27 15:13] Mr-LegitHD commented on #304
Where does i have to change it? if i want to use port 80 as basic
<img width="1023" alt="librarie" src="https://user-images.githubusercontent.com/58080940/97321606-5ae00780-186f-11eb-8c84-aa8585a80e89.PNG">

[2020-10-27 16:35] Sank6 commented on #304
You're running an apache server on port 80. Stop the server or end the process. Then try running it again with `npm start`

[2020-10-27 16:55] #304 closed

[2020-10-28 16:49] Sank6 commented on #301
Fixed

[2020-10-28 16:49] #301 closed

[2020-10-28 17:28] Sank6 commented on #281
Added

[2020-10-28 17:28] #281 closed

[2020-10-29 19:12] idk-pixel opened #305 "Submit button mobile"
On Mobile you can't submit, resubmit, it will just refresh the page.

[2020-10-29 21:00] Mr-LegitHD opened #306 "Questions"
What is getting stored in the mongodatabase? and where? because mine is empty
What is the unmuted role which we need to add an id in the config file

[2020-10-29 21:53] Sank6 commented on #306
The unmuted role is something I keep forgetting about. I need to change it to a muted role but basically right now it's for all bots that aren't muted. The database stores all the bots.

[2020-10-29 21:54] Sank6 commented on #305
I'll have a look. I'm not sure why that would happen on mobile only though.

[2020-10-30 14:20] brianseminara opened #307 "Admin Dash"
Is there a way for us to see the unverified bots page on the website before we accept/deny it?

[2020-10-30 18:06] Sank6 commented on #307
`/bots/:id`

[2020-10-30 18:21] brianseminara opened #308 "Glitch Errors"
I host it on glitch and I get a lot of warnings for high CPU usages and it keeps crashing. How do I fix that?

[2020-10-30 20:20] Mr-LegitHD commented on #308
![image](https://user-images.githubusercontent.com/58080940/97753246-ba4f4900-1af5-11eb-94e8-fa92c5fe0668.jpeg)
This Bot List isn't made for glitch. You need to read the infos before downloading something

[2020-10-30 22:12] #308 closed

[2020-10-30 22:33] Sank6 commented on #305
Ok I added recaptcha to it. Can you tell me if this is still happening.

[2020-10-30 23:53] idk-pixel commented on #305
Ok I have to update

[2020-10-31 16:02] Zaid-maker opened #309 "Glitch domains not working to register google recaptcha"
google not accepting subdomains to register the site

[2020-10-31 16:16] Sank6 commented on #309
Just register it as `glitch.me`

[2020-10-31 19:36] #309 closed

[2020-10-31 23:29] Infinityisgreat opened #311 "Website isn't showing"
I go to the website which for me is https://Infinityisgreat.github.io
and it just shows this
Infinityisgreat.github.io
About
This is a discontinued discord bot list. I still maintain it occasionally, so feel free to use it. There’s a setup guide in the wiki if you’re interested. If you have any issues, check the FAQs first please.

Screenshots
Front Page Dark Theme Bot Page

Features
HTML descript

[2020-11-01 06:53] EggyOnCrack opened #312 "Unknown Error and members not defined"
error 1: ![image](https://user-images.githubusercontent.com/69737561/97796842-cc5af400-1c7b-11eb-9136-b2c4a390c6ac.png)

error 2:
![image](https://user-images.githubusercontent.com/69737561/97796847-dd0b6a00-1c7b-11eb-8003-c037db9f134f.png)

[2020-11-01 11:37] Sank6 commented on #311
You can't just put it on GitHub pages. You have to host it. Check the setup guide in the wiki.

[2020-11-01 11:37] #311 closed

[2020-11-01 11:40] Sank6 commented on #312
Check your config file is correct for the second error. I don't know why you're getting unknown error though. I'll have a look.

[2020-11-01 11:40] #305 closed

[2020-11-01 13:25] Zaid-maker commented on #309
Ok

On Sun, Nov 1, 2020, 12:36 AM Sank6 <notifications@github.com> wrote:

[2020-11-03 01:20] Cinnamonsroll commented on #293
hey so i own a serverlist and i added a feature like this not best way to do it but its a good start `setInterval(() => {
    $("#search-box").keypress()
  }, 1000)

  $('#search-box').bind('keyup', function() {
$(".thing").remove()
    const searchBox = $("#search-box");
    const searchTerm = searchBox.val();

    if (searchTerm) {

      $.ajax({
        url: `https://cosmicservers.glitch.me/se

[2020-11-03 11:03] Sank6 commented on #293
Yeah but that still spams the database with requests. I'd need to add a caching system but I dont know how ram intensive it would be for larger lists.

[2020-11-03 17:19] charweeeee opened #313 "help"
what website do i go to to get a domin? could i have a link?

[2020-11-04 08:10] Sank6 commented on #313
You can buy a domain from a lot of websites. Namecheap, GoDaddy, 1and1. Just google it.

[2020-11-04 08:10] #313 closed

[2020-11-04 16:13] brianseminara opened #314 "API"
What is the API code so they can post bot stats?

[2020-11-04 16:43] brianseminara commented on #314
nvm, found it

[2020-11-04 16:43] #314 closed

[2020-11-08 05:10] shootdot commented on #312
@Sank6 This error is occured by the owners field

[code]

[2020-11-08 06:32] yuu0007 commented on #312
i am also getting the first error @Sank6

[2020-11-08 07:58] shootdot commented on #312
Till Sank6 Updates I have fixed the bug
Goto util/checkFields.js and replace with this code

[code]

[2020-11-08 08:33] Zaid-maker commented on #312
Instead of telling like this please make the pill request with the changes

On Sun, Nov 8, 2020, 12:59 PM shoot.dot <notifications@github.com> wrote:

[2020-11-08 08:35] shootdot commented on #312
It still may contain bug but I fixed the submit issue so I thought why to make a pull request which contains a bugs 😂

[2020-11-08 12:20] Zaid-maker commented on #312
Nice tho

[2020-11-09 07:30] haydenwalker980 opened #315 "Error: listen EACCES: permission denied 0.0.0.0:80 when connecting to MongoDB"
I'm trying to host this but it keeps giving me this error. Allowing all IPs doesn't solve it.

[2020-11-09 08:26] Zaid-maker commented on #315
Use 0:0:0:0 as a IP address in network section.

On Mon, Nov 9, 2020, 12:31 PM issue-label-bot[bot] <notifications@github.com>
wrote:

[2020-11-09 17:28] haydenwalker980 commented on #315
Tried but I still get this error.
![image](https://user-images.githubusercontent.com/37120379/98575370-fa3ccb80-226d-11eb-889b-db5fac8836ce.png)

[2020-11-09 19:48] haydenwalker980 opened #316 "Error: Uncaught Promise Error: TypeError: Cannot destructure property `site_key` of 'undefined' or 'null' when starting"
The last issue I opened was solved after I swapped VPS providers. This issue is a problem with config.json (what I can tell from reading the TypeError). Is there any way to solve this?

[2020-11-09 19:48] haydenwalker980 commented on #315
I swapped VPS providers and that solved the issue. I still have another issue though.

[2020-11-09 19:48] #315 closed

[2020-11-09 19:59] haydenwalker980 commented on #316
This is the error:
![image](https://user-images.githubusercontent.com/37120379/98590011-0717ea00-2283-11eb-8c6f-594a1e99ff83.png)

[2020-11-09 21:14] haydenwalker980 commented on #316
UPDATE: Another case of my ignorance. I used an old config.json file. Keep your files updated!

[2020-11-09 21:14] #316 closed

[2020-11-10 02:18] CipherHYT opened #317 "If I run project, It ends up as an error."
I am using repl.it for the Discord Bot List and when I clicked run, it starts npm i everything. Can someone fix this?

[2020-11-10 03:53] shootdot commented on #317
Please mention the error ?

[2020-11-10 06:42] shootdot opened #318 "Redirect user to previous page instead of /me after login"
Hey,
I am not much familiar with OAuth2. But please make this thin it would be much better.
Auto join user to the server when he log's in via discord & When user log's in redirect to the page where he was it always redirects to ```/me```

[2020-11-10 08:54] Sank6 commented on #318
I had a look at it before. The problem is you have to ask the user for permission to join servers for them in the login screen and I don't think that's necessary. I've tried to include only scopes which are completely necessary which is just the username part. Just an invite link to the server works fine imo.

[2020-11-10 12:31] shootdot commented on #318
@Sank6 What about redirect to the  page where the user was instead of redirecting to ```/me``` ?

[2020-11-10 12:34] Sank6 commented on #318
Oh I didn't see that. Yeah I'll see.

[2020-11-10 15:00] haydenwalker980 commented on #317
Repl.it doesn't work with this (speaking from experience)
Try migrating to a VPS provider (like Linode).

[2020-11-10 23:45] CipherHYT commented on #317
alright

[2020-11-10 23:46] CipherHYT commented on #317
@shootdot Repl.it: Updating package configuration

--> npm install @utils/discordApi @utils/fileWalk @models/bots @routes/bots @utils/checkFields @structures/app.js @utils/getList.js @routes/api @routes/theme @bot/index @utils/passport.js @utils/createAuth.js @root/config.json
npm ERR! code E404
npm ERR! 404 Not Found - GET https://registry.npmjs.org/@utils%2ffileWalk - Not found
npm ERR! 404
npm

[2020-11-11 06:34] shootdot commented on #317
It is trying to install package which is not even there in npm and it is project files.
Make sure your package.json is correct and run ```npm install```

[2020-11-11 19:46] Sank6 commented on #317
That error means `module-alias` isn't working properly. Try installing it: `npm i module-alias`. If it still doesn't work, it's probably something to do with repl.it. You'll have to change the path in every `require` statement of every file to the relative path.

[2020-11-11 19:46] #317 closed

[2020-11-11 20:58] Sank6 commented on #312
No, don't do that. That means you can change the primary owner. Also whats with `if (!data.owners) {} else {` ?
I think the new commit should fix it. Reopen this if it's still open.

[2020-11-11 20:58] #312 closed

[2020-11-11 21:13] Sank6 commented on #318
Added

[2020-11-11 21:13] #318 closed

[2020-11-13 07:37] ririko5834 opened #319 "Question"
Can i ask when Certified bots, upvote system and admin panel will be added?

I have also another feature request: Don't allow users who are not bot checkers or admins view unverified bots.
If user is not bot checker or admin they should get something like This bot is unverified, please try it again.

[2020-11-13 08:14] ririko5834 commented on #319
Also i have problem:
![image](https://user-images.githubusercontent.com/64729293/99044784-9a596400-2590-11eb-9d6a-389ddc612762.png)
Why i am getting unknown owners?

[2020-11-13 08:27] ririko5834 opened #320 "Suggestion: Auto remove bot when owner leave server"
I have suggestion to auto-delete bot from botlist and kick it when main bot owner leave botlist server.

I think that this is great. Now i must manually remove bot when owner leave botlist server.

[2020-11-13 08:29] ririko5834 commented on #156
@Duui3111 > for the first one add

Can you please rewrite this code from ejs to pug? 🙏

[2020-11-13 10:34] Sank6 commented on #319
I'm not actively working on this so no estimate for time. If you want to make a PR, feel free. As for the suggestion, it seems like a good idea. Also that seems to be a bug. You shouldn't get undefined owner. I'll have a look.

[2020-11-13 10:48] ririko5834 commented on #319
OK, can you add my suggestion to readme.md?

[2020-11-13 13:40] ririko5834 opened #321 "Bug"
When i am not logged in and i go to mydomain.com/add  ,fill in the form and click Submit nothing happpens, no error is displayed.
Can you add that user will be redirected to /login when user is not logged in ?

Another problem: can you please add that user will get error when user is not on botlist server when adding and editing bots ?

[2020-11-14 08:35] shootdot commented on #319
Hi @ririko5834
I have fixed the owner issue bug. Just goto utils/checkFields.js and replace it with this code. After Sank6 commits new update you can use Sank6 code. for the timing my code works well

[code]

[2020-11-14 08:45] shootdot commented on #321
@ririko5834 The error pops up if the user is not in the server And for the issue error is not displayed when user is not logged in via discord you need to currently make changes in your routes.
Goto routes/add.js and replace it with the following code

[code]

[2020-11-14 08:59] ririko5834 commented on #321
ok

[2020-11-14 09:02] ririko5834 commented on #321
@shootdot Can you please create PR for this? https://github.com/Sank6/Discord-Bot-List/issues/320

[2020-11-14 09:03] ririko5834 commented on #319
ok, thanks

[2020-11-14 10:45] shootdot commented on #321
@ririko5834 done #323

[2020-11-14 11:13] ririko5834 commented on #321
@shootdot Thanks

[2020-11-14 11:15] ririko5834 commented on #321
Can you create Bot Tags (categories) and filtering bots by categories.
Or command to mark bot as Certified (It will have certified bot badge on botlist)

[2020-11-14 11:23] shootdot commented on #321
I have currently not done that for my botlist. I made voting system and sorted bots according to votes. I'm currently working on it.

[2020-11-14 13:07] ririko5834 commented on #321
@shootdot OK, that's great. Can you add certified bots, update sorting that certified bots will be first, than top voted bots?
You can make PR and help Sank6 to make this botlist better.

[2020-11-14 16:43] Sank6 commented on #321
No that prioritises bigger bots instead of equal grounds for all bots. Also, I don't see the point of certified bots. Again, this isn't top.gg.

[2020-11-14 21:18] Sank6 commented on #321
Added redirect for /add

[2020-11-14 21:18] #321 closed

[2020-11-14 22:11] #319 closed

[2020-11-14 22:11] Sank6 commented on #320
Done

[2020-11-14 22:11] #320 closed

[2020-11-15 05:09] shootdot opened #325 "Question"
Hey Sank6 shouldn't you add Backward compatibility to src/routes/bots/index.js ?

[2020-11-15 08:02] ririko5834 commented on #321
@shootdot Can you also make PR for more form fields like Website, Support server and Github repo?

Its in readme.md:

Vote / upvote feature
Certified / verified bots
Mark bot as NSFW when submitting
More bot fields like support server invite link, Github repo and Website
Dynamic Sitemap
Admin panel

[2020-11-15 08:24] shootdot commented on #321
Yeah I will create PR for it.

[2020-11-15 08:38] ririko5834 opened #326 "Bug: error page does not exist"
[code]
Error page (/error) does not exist. For example this code is in `/src/routes/bots/edit.js`

![image](https://user-images.githubusercontent.com/64729293/99180398-3ff20c00-2726-11eb-9a2c-21377d41ffb7.png)

[2020-11-15 08:47] ririko5834 commented on #321
OK, can you also do certified bots and admin panel?

[2020-11-15 08:54] ririko5834 opened #327 "Add that only bot owners, server admins and bot checkers can see unverfied bots."
Hi can you add that only bot owners, server admins and bot checkers can see unverfied bots.

Now everyone can see unverified bots.

[2020-11-15 09:41] ririko5834 commented on #321
@shootdot Maybe you can fix another bugs: https://github.com/Sank6/Discord-Bot-List/issues/327 https://github.com/Sank6/Discord-Bot-List/issues/326

[2020-11-15 09:53] shootdot commented on #321
Bot owner can see unverified bot in /me, and for the error page 404 page
exists.

On Sun, 15 Nov 2020, 1:42 pm ririko5834, <notifications@github.com> wrote:

[2020-11-15 09:56] ririko5834 commented on #321
Yes 404 error page exist. But /error?e=error does not exist
for example you can be redirected to /error page here: ```    if (![bot.owners.primary].concat(bot.owners.additional).includes(req.user.id)) return res.redirect(`/error?e=owner`);
[code]

[2020-11-15 09:59] ririko5834 commented on #321
And when someone who is not logged in visits domain.com/bots/unverfiedbotid and bot is unverified the page can be viewed.
I think that unverified bots should be visible only to bot checkers, server admins and Bot owners

[2020-11-15 10:55] shootdot commented on #321
I guess it doesn't happen.
And for `/error?e=error` It is supposed to show 404 Page only.

[2020-11-15 11:05] ririko5834 commented on #321
Before in old version (using ejs not pug) it showed error text: https://github.com/Sank6/Discord-Bot-List/blob/4bda625b89ea515df811f8fa374f960168fcbbb3/src/public/error/index.html
![image](https://user-images.githubusercontent.com/64729293/99183292-d6302d00-273a-11eb-9cfd-6f23ff7530be.png)

[2020-11-15 11:35] Sank6 commented on #325
I thought about it but I realised you don't need to. If a user just edits the bot with no changes, it should update the owners to the new format. I've tried to include it in as few places as I could.

[2020-11-15 11:35] #325 closed

[2020-11-15 11:39] Sank6 commented on #321
@ririko5834 Please can you stop asking other people to add stuff. If you really want it, add it yourself. Also I really don't think it's a good idea to add certified bots. Why would you need another tier after being verified. Verified is just checking the bot follows Discord ToS and it works. That's all you really need.

[2020-11-15 11:43] shootdot commented on #325
Oh then okay I thought you missed it 😅

[2020-11-15 17:00] Sank6 commented on #327
Added

[2020-11-15 17:00] #327 closed

[2020-11-15 17:00] Sank6 commented on #326
Changed to 403

[2020-11-15 17:00] #326 closed

[2020-11-15 20:02] wolfier74 opened #328 "/bots/invalidid bug"
When i go for example to /bots/7436353839 the page is still loading no error is shown.
Maybe you should add 404 response.

[2020-11-15 20:12] wolfier74 opened #329 "Feature request: Add more form fields like Website, Support server invite and Github repo"
See title

[2020-11-15 20:18] wolfier74 opened #330 "When user is not on server, an unknown error is shown."

[2020-11-15 20:21] wolfier74 commented on #307
Yes, admin and bot checker dashboard for verifing, removing, deleting and editing bots is great idea. 👍

[2020-11-15 20:36] Sank6 commented on #329
It's in the readme

[2020-11-15 20:36] #329 closed

[2020-11-15 20:37] Sank6 commented on #328
Fixed

[2020-11-15 20:37] #328 closed

[2020-11-16 03:42] shootdot commented on #330
I have fixed in PR#331 You can try it.

[2020-11-16 05:51] wolfier74 commented on #328
Ok

[2020-11-16 08:17] ririko5834 commented on #327
When user is not logged in and visits unverfied bot, the page is still loading and i get error
[code]

[2020-11-16 09:02] ririko5834 opened #333 "Feature request: like system api"
Create api for like (vote) system.
For example user who owns bot want to log all votes on his bot to support server.
I think that you should add atleast option to link Discord Webhook to bot in /edit page. That all votes for certain bot will be sent to webhook that provided bot owner.

[2020-11-16 09:11] ririko5834 commented on #333
Another feature request: Add that bot like count will be on /api/embed/:id widget.

[2020-11-16 11:05] shootdot commented on #333
For the 1st request I have never made an API system before and never tried to do on it. May be Sank6 can make but I will try my best And fro 2nd Request that can be done easily I will Make a PR for it.

[2020-11-16 12:13] ririko5834 commented on #333
Also here is bug: (-200 minutes)
![image](https://user-images.githubusercontent.com/64729293/99251349-748cc300-280d-11eb-9f30-05bf96a4ce2b.png)

[2020-11-16 12:57] shootdot commented on #333
Sank6 edited that...

On Mon, 16 Nov 2020, 4:13 pm ririko5834, <notifications@github.com> wrote:

[2020-11-16 13:22] Sank6 commented on #333
Yeah sorry. I don't know why it's like that. I'll have a look.

[2020-11-16 14:18] Sank6 commented on #333
Also it's quite hard to add an api right now because it doesn't store who likes the bot. It's just a tally of total likes.

[2020-11-16 14:19] shootdot commented on #333
Yea true but we can make like if a user votes it stores it's username for temporary and sends to webhook ?

[2020-11-16 14:25] shootdot commented on #333
Right now I'm searching how to make an API 😂😂

[2020-11-16 17:27] Sank6 commented on #333
I can make the API part, but it's the method of storing likes that's going to have to change. It's going to use up more database storage as well.

[2020-11-16 17:28] Sank6 commented on #327
Can you send the full error?

[2020-11-16 19:12] brianseminara opened #334 "Privacy Policy"
Is there a privacy policy. If yes where. If no, how do I make one?

[2020-11-16 19:14] brianseminara commented on #334
also where is a good place to host this list?

[2020-11-16 19:44] wolfier74 commented on #334
@brianseminara on VPS

[2020-11-16 19:45] wolfier74 commented on #333
Seems to be good idea

[2020-11-16 20:38] Sank6 commented on #334
There is no privacy policy. There is a [license](https://github.com/Sank6/Discord-Bot-List/blob/master/LICENSE.md) for the code though. You can add a privacy policy to the website if you wish.

[2020-11-16 20:38] #334 closed

[2020-11-17 06:43] wolfier74 commented on #330
Ok

[2020-11-17 10:33] ririko5834 opened #336 "Bug"
When additional owner edits bot then additional owner is marked as primary owner.
`/src/routes/api/bots/modify.js`
[code]
problem is here: owners: {primary: req.user.id

[2020-11-17 11:30] Sank6 commented on #336
Yeah that's a good point. I'll fix it when I get back.

[2020-11-17 12:15] shootdot commented on #336
A bug here too.
`src/bot/commands/bots/remove.js`
```await Bots.updateOne({ botid: Member.id }, { $set: { state: "deleted", owners: {additional: []} } });```
When you remove the bot bot owner is not able to find on website.

[2020-11-17 12:17] shootdot commented on #336
I guess you need to remove the owners field from there

[code]

[2020-11-17 12:20] shootdot commented on #336
And for `src/routes/api/bots/modify.js`
[code]
This might fix the issue.

[2020-11-17 17:25] Sank6 commented on #336
No, because you want to delete all additional owners when a bot gets deleted. Otherwise additional owners might be able to resubmit it and they'd become the primary owner.

[2020-11-17 17:52] Sank6 commented on #336
@ririko5834 fixed

[2020-11-17 17:52] #336 closed

[2020-11-17 17:53] Sank6 commented on #330
Fixed

[2020-11-17 17:53] #330 closed

[2020-11-17 19:18] brianseminara opened #338 "Bot Reviewer Role/Permissions"
There is no permission for the bot reviewer role in remove.js verify.js or marknsfw.js

So the bot reviewers can't review bots. Can you give me the piece of the code that is supposed to make it happen @Sank6

[2020-11-17 20:25] Sank6 commented on #338
Wait what? Are you sure you have the correct role ID in the config file?

[2020-11-17 21:39] brianseminara commented on #338
yea.

**Role ID:** 771346671543648257
**Role ID Config:** 771346671543648257

the same! right? am I blind?

[2020-11-17 22:15] Sank6 commented on #338
Bot verifiers should have perms. Is there any error message or can they just not use the command?

[2020-11-17 22:16] brianseminara commented on #338
They can't use the command.

[2020-11-18 00:43] shootdot commented on #338
We are using Klasa module. In klasa module you define permissions in main file that is `src/bot/index.js`.
And in line number 6 you can see
[code]
which is creating a new permission number  And then we are using that permission level in verify.js, remove.js.
In `src/bot/commands/Bots/verify.js` line number 12 you can see defining the permission for that command.

[2020-11-18 10:35] ririko5834 opened #339 "/add Bug"
![image](https://user-images.githubusercontent.com/64729293/99518898-754e6200-2991-11eb-9f31-57ceae0f45b5.png)

Form fields are too big, maybe they should be smaller.

and i am getting unknown error when trying to add bot

[2020-11-18 10:42] Sank6 commented on #339
There should be a sidebar on desktop?

[2020-11-18 10:46] ririko5834 commented on #339
This is /add page not /edit.
I have sidebar on /edit

[2020-11-18 10:54] ririko5834 commented on #339
And why activity is not showing here now?
![image](https://user-images.githubusercontent.com/64729293/99521536-d1ff4c00-2994-11eb-82f9-7476656d3d51.png)

[2020-11-18 12:05] ririko5834 commented on #339
Why in activity first letters are uppercase?
![image](https://user-images.githubusercontent.com/64729293/99527697-83a27b00-299d-11eb-9af9-d8ad4222db2f.png)
@Sank6
and when activity is longer it is in 2 lines :/
![image](https://user-images.githubusercontent.com/64729293/99528506-aed99a00-299e-11eb-8119-043d14fcbdd5.png)

[2020-11-18 13:05] ririko5834 commented on #339
Another bug when user is not primary owner:
![image](https://user-images.githubusercontent.com/64729293/99534008-0aa82100-29a7-11eb-88f8-4818dc13572d.png)

[2020-11-18 13:20] shootdot commented on #339
@ririko5834 1st thing the fields in add page are supposed to be like that.
2nd thing Other owner's are not supposed to edit the Links.

[2020-11-18 13:35] brianseminara commented on #338
Still does not work @shootdot @Sank6

[2020-11-18 13:39] brianseminara commented on #338
nvm. I found the bug. I got the not updated code. So I had to re-update it. Also how do I add normal commands to the main bot?

[2020-11-18 13:43] ririko5834 commented on #339
@shootdot
OK

Can you make that there will be displayed Only the primary owner can edit this.

Also

Also when i am trying to resubmit or add new bot i am getting this error and nothing is in console:
![image](https://user-images.githubusercontent.com/64729293/99537721-514c4a00-29ac-11eb-9c54-fcbc5d074e24.png)

[2020-11-18 14:00] shootdot commented on #339
Goto submit.js file in src/routes/api/bots/submit.js and in line 42 before return put the command console.log(e) and send the error

[2020-11-18 15:23] Sank6 commented on #338
@brianseminara add commands in `src/bot/commands`. Each folder is a category. Either create a new category or add to an existing one. Copy the command format from ping.js

[2020-11-18 15:23] #338 closed

[2020-11-18 15:25] brianseminara commented on #338
Now whenever I verify a bot it won't give the user & the bot the Bot Dev role and the Bot role.

[2020-11-18 15:26] brianseminara opened #340 "Role Issues:"
Now whenever I verify a bot it won't give the user & the bot the Bot Dev role and the Bot role.

@Sank6

I would have put this into the prev issue but it was closed.

[2020-11-18 15:29] Sank6 commented on #340
You can still comment on closed issues btw. Also, make sure the bot managing it is at the top of the roles list and it has admin perms.

[2020-11-18 15:31] brianseminara commented on #340
It is at the tippy top of the list.

[2020-11-18 15:31] brianseminara commented on #340
Still no. Also when I verify a bot the owners section just says <@undefined> (new line) <@undefined>

[2020-11-18 17:44] brianseminara commented on #340
@Sank6

[2020-11-18 20:55] shootdot commented on #340
@brianseminara Tell the users to reedit and submit there bots. It will be fine.

[2020-11-18 21:18] Sank6 commented on #340
Yeah but that still shouldn't be an issue. I'll have a look.

[2020-11-18 22:40] Sank6 commented on #339
No all owners should be able to edit links. That's also a bug. I'll have a look tomorrow.

[2020-11-18 22:42] shootdot commented on #339
Okay.

[2020-11-19 07:43] ririko5834 commented on #339
This is error in console @shootdot
[code]

[2020-11-19 11:55] shootdot commented on #339
Send Full error this is just a part of it.

[2020-11-19 12:26] ririko5834 commented on #339
@shootdot  That's all i get in console.
I am getting this when i add Additional owner IDS and also when i leave this field blank when addding bot.

[code]

[2020-11-19 12:34] shootdot commented on #339
@ririko5834 Try this code replace this code with src/utils/checkFields.js
[https://raw.githubusercontent.com/Sank6/Discord-Bot-List/5a2024c930539ec3e67eddad776f73152615832a/src/utils/checkFields.js](Here)

[2020-11-19 13:09] brianseminara commented on #340
I think someone else fixed the issue in my code.

[2020-11-19 13:54] brianseminara commented on #340
Also how do you make a bot always at the top.

[2020-11-19 14:05] shootdot commented on #340
What do you mean ?

[2020-11-19 14:06] brianseminara commented on #340
like to make a bot not move around on the page and just stay o the top of the main page?

[2020-11-19 14:22] shootdot commented on #340
The botlist get shuffled always so that it does not show unfairness over other bots.

[2020-11-19 17:03] brianseminara commented on #340
ok, and @Sank6 the issue with the bot owners is active, again. It says <@undefined> <@undefined>

[2020-11-19 17:04] Sank6 commented on #340
Actually it should be ordered by likes. I think.

[2020-11-19 17:36] shootdot commented on #340
Yea it should be ordered by likes. @brianseminara Edit and resubmit your bot it fixes the issue.

[2020-11-19 19:20] Sank6 commented on #340
The owner issues should be fixed in the development branch. Test it if you want. I'll merge it with master soon.

[2020-11-19 19:20] #340 closed

[2020-11-19 19:26] Sank6 commented on #338
Just checked, it seems to work fine.

[2020-11-19 19:27] Sank6 commented on #339
The owners bug should be fixed in development branch. I'll push to master soon. Just checking some stuff.

[2020-11-19 19:27] #339 closed

[2020-11-19 22:50] yADGithub opened #342 "Unknow Error"
When I send the bot it is giving an error message that doesn't exist

[2020-11-20 00:18] brianseminara opened #343 "Suggestion: Began Test System"
Someone will do a !test {@bot} and it will DM the owner of the bot saying that "{message.author.tag} began testing on your bot. Please wait for the verification action."

Do it in test.js file. Create

[2020-11-20 06:53] ririko5834 commented on #343
@brianseminara I made PR for this. You can try this code: https://github.com/Sank6/Discord-Bot-List/pull/344

[2020-11-20 07:47] Sank6 commented on #342
Try the dev branch. I think it should be fixed.

[2020-11-20 07:49] Sank6 commented on #343
Why though?  It really doesn't take long to test a bot. That seems very unnecessary.

[2020-11-20 07:50] ririko5834 commented on #343
Yes, I think that it is not necessary too. But I made PR, brianseminara can copy my code if they want.

[2020-11-20 08:22] ririko5834 opened #345 "Suggestion: Option to specify minimum lenght of bot description"
Add option to specify minimum lenght of bot's description in config.json. I want to limit it to minimum 300 characters, but i dont want to count html tags.

[2020-11-20 08:22] ririko5834 commented on #342
There is bug too in checkFields.js

[2020-11-20 08:33] Sank6 commented on #342
Yeah I'll have a look when I'm back.

[2020-11-20 08:43] ririko5834 opened #346 "Suggestions: Add Notes form field when adding bot"
Hi, can you please add Notes form field when adding bot? It will be useful when member wants to leave note to bot checkers about his bot.

And add that notes will be visible only to bot checkers and server admins

[2020-11-20 11:17] shootdot commented on #346
Please don't open multiple Issues. Mention everything in one.

[2020-11-20 11:20] shootdot commented on #346
If Sank6 Mentions it's good feature then I will try to add it

[2020-11-20 14:00] Sank6 commented on #346
This seems like a good idea but not right now. I think it might work if there was an admin panel, but even then, there really shouldn't need to be a note. The bot needs to be usable by everyone anyway, so wouldn't it be better to include that information in the long description? At least for now anyway, we could reopen this when there's an actual dashboard.

[2020-11-20 14:00] #346 closed

[2020-11-20 14:01] Sank6 commented on #343
Yeah sure, you can use the code but I won't add it to this repo because it's not really necessary.

[2020-11-20 14:01] #343 closed

[2020-11-20 14:13] brianseminara opened #347 "Error: Line 1 of src/index.js"
We can't define `require("module-alias/register");` no npm package we can find. So everything is down. Do you know what's up?

[2020-11-20 14:37] brianseminara commented on #347
@Sank6

[2020-11-20 14:39] Sank6 commented on #347
`npm i` should install it.

[2020-11-20 14:39] #347 closed

[2020-11-20 14:40] brianseminara commented on #347
I use glitch! Do I just do npm i in the terminal?

[2020-11-20 14:40] brianseminara commented on #347
@Sank6

[2020-11-20 14:51] Sank6 commented on #347
You can't host it on glitch. Have a look at the [setup guide](https://github.com/Sank6/Discord-Bot-List/wiki/FAQs#how-can-i-host-this).

[2020-11-20 14:53] brianseminara commented on #347
I have to do it on glitch. How do I do it on glitch so it would work. It just randomly started last night.

[2020-11-20 14:53] brianseminara commented on #347
@Sank6

[2020-11-20 14:56] Sank6 commented on #347
Read the setup guide. This isn't designed to be hosted on glitch. Any issues you have are probably related to glitch and not this. Glitch is designed for hosting mostly frontend sites with maybe some server-side, not a whole site like this.

[2020-11-20 14:57] brianseminara commented on #347
i can't host it anywhere else! Please, any way to do it!!!!!

[2020-11-20 14:59] brianseminara commented on #347
@Sank6

[2020-11-20 14:59] Sank6 commented on #342
Should be fixed

[2020-11-20 14:59] #342 closed

[2020-11-20 14:59] Zaid-maker commented on #347
Man you don't have to do anything the modules will auto installs ones u import that project.

[2020-11-20 15:03] Zaid-maker commented on #347
@Sank6 hosting is only problem on glitch now as u said it mostly for server-side thing other things are perfectly running on glitch hosting is only the problem.

[2020-11-20 15:30] DyIster opened #350 "Feature Request: Not logout on refresh"
Whenever you refresh the page it logs you out which is annoying

[2020-11-20 16:27] Sank6 commented on #350
Shouldn't do? I just checked and it stays logged in for me. It logs you out, every time you restart the program. There's nothing you can do about that. The discord data is stored in sessions.

[2020-11-20 16:48] DyIster commented on #350
It may be because I am running it on a local host as I am just playing around with it.

[2020-11-20 17:20] DyIster commented on #350
Also, to bring up a bug, it appears on they remove command we are granting the developer role despite us actually denying the bot

[2020-11-20 19:12] Sank6 commented on #350
Fixed in development

[2020-11-21 05:22] RITIKDHAYAL-PHOENIX opened #351 "auth issue"
it showing this language how to change this language to english
![image](https://user-images.githubusercontent.com/57560515/99868329-9f00c680-2be7-11eb-99ed-345e7ce28ed5.png)

[2020-11-21 08:51] ririko5834 commented on #346
OK, but add that notes can be view using notes command. for example `!notes @bot_mention` will list notes for bot checkers that were added when adding bot. And add optional form field Notes when adding bots

[2020-11-21 13:00] #350 closed

[2020-11-21 13:11] The-mortal-phoenix opened #352 "im just running a trial and i wont copy this i swear but what should i fill in these"
{
    "mongo_url": "i know this",
    "server": {
        "id": "",
        "invite": "",
        "mod_log_id": "",
        "like_log": "",
        "admin_user_ids": [],
        "role_ids": {
            "bot": "",
            "unverified": "",
            "verified": "",

            "bot_developer": "",
            "bot_verifier": ""

and for running it on local host
    "web": {
        "domain

[2020-11-21 13:29] Sank6 commented on #352
Read the wiki, you can use this if you want.

[2020-11-21 13:29] Sank6 commented on #351
That is english lol.

[2020-11-21 13:34] RITIKDHAYAL-PHOENIX commented on #351
2nd line...

[2020-11-21 13:50] Sank6 commented on #351
Still english. Not a bug.

[2020-11-21 13:50] #351 closed

[2020-11-21 13:51] #352 closed

[2020-11-22 21:31] Sank6 commented on #174
Added

[2020-11-22 21:31] #174 closed

[2020-11-22 23:01] idk-pixel opened #354 "Bug/then why is this a thing"
so i vote 1 bot, i should be able to vote the bot in 12 hours. which is good. but if i vote another i have to wait? dosent make any sense

[2020-11-22 23:06] idk-pixel commented on #354
also i can still submit bots without captcha

[2020-11-22 23:15] idk-pixel commented on #354
also only the primary owner can edit additional owners, didnt edit ?

[2020-11-23 02:11] RITIKDHAYAL-PHOENIX opened #355 "Support"
Why we can't add support server or website link of our bot from bot add page. But we have add that from bot edit page.. should u make it so we can add links from add page

[2020-11-23 06:49] shootdot commented on #355
Sank6 is currently doing some styling changes and he will add those fields with tags. So Please wait until he updates the repo.

[2020-11-23 06:52] shootdot commented on #354
1. Yes if you vote 1 bot you won't be able to vote any bots for 12 hours that does makes sense.
2. Sank6 added captcha to prevent spam of message in discord when submitting/Editing bot.
3. Primary owner can only add additional owners. Additional owners don't have that permission to add more owners.

[2020-11-23 08:15] ririko5834 opened #357 "Add certification system"
Hi, can you please add certification system?
And that certified bots will be showed first and will get Certified bot badge?

[2020-11-23 14:15] idk-pixel commented on #354
@shootdot 1. no that dosent make sense
2. i dont have that prob anymore
3. i didnt edit the additional owners though

[2020-11-24 04:38] shootdot opened #358 "VPN/Proxy Detection"
Sank6 Please make VPN detection users are activating VPN and Voting bots continuously. 😫😪

[2020-11-24 04:42] shootdot commented on #357
@ririko5834 I have made it and asking permission to Sank6 if he/she thinks it is a good Idea I will open a PR
![image](https://user-images.githubusercontent.com/55920587/100049513-ee860300-2e30-11eb-82d9-a4ee12c5a6f9.png)
Preview ^^

[2020-11-24 07:47] ririko5834 commented on #357
Yes its good, please open PR.

[2020-11-24 09:30] shootdot commented on #357
Sank6 Had been avoiding certified bots feature from before as I remember.
So if Sank6 thinks it's a good feature and accepts it I will surely open PR for it

[2020-11-24 16:45] alikemalkara61 opened #359 "ERRORS"
I am getting errors in this project. Can you specify a discord address so I can present the errors to you?

[2020-11-24 16:57] shootdot commented on #359
@alikemalkara61 Please mention the errors.

[2020-11-24 18:08] Sank6 commented on #359
Yeah, put the error here.

[2020-11-24 18:09] Sank6 commented on #358
I thought they had to be signed in to a discord account to vote. And it has to be a different one each time right?

[2020-11-24 18:10] Sank6 commented on #357
As I said, I don't think it's necessary. Obviously, you can add it yourself if you like.

[2020-11-24 18:10] #357 closed

[2020-11-24 18:13] Sank6 commented on #355
So I thought that on the bot submit page, only include the fields that were necessary for verification, like the description and summary. The bot edit page should have all the customisable features on it.

[2020-11-24 18:13] #355 closed

[2020-11-24 18:17] Sank6 commented on #354
It does make sense. You shouldn't be allowed to spam votes across multiple bots.
The others sound like bugs. I'll have a look.

[2020-11-24 18:29] shootdot commented on #358
Yea but I have seen one of the user continuously voting without having a break of 12 her!

[2020-11-24 18:32] shootdot commented on #357
It's basically not that necessary to have a copy same like top.gg. If you want just try coding the certification 😀

[2020-11-25 04:13] shootdot commented on #358
![image](https://user-images.githubusercontent.com/55920587/100182464-1e4b0e80-2ef6-11eb-8486-53b144eac6ee.png)

[2020-11-25 07:15] ririko5834 commented on #357
@shootdot Please make PR and then  close it.

[2020-11-25 07:23] ririko5834 commented on #357
Also when bot tags will be added?

[2020-11-25 07:29] alikemalkara61 commented on #359
![README md – iodized-nebula-puffin - Google Chrome 25 11 2020 10_27_41 (2)](https://user-images.githubusercontent.com/70637209/100195849-0466f700-2f09-11eb-96ab-47eb60314042.png)

[2020-11-25 07:30] shootdot commented on #359
This project is not made for using in Glitch.

[2020-11-25 07:30] shootdot commented on #359
Read wikis

[2020-11-25 07:31] alikemalkara61 commented on #359
So can you recommend another editor

[2020-11-25 07:32] shootdot commented on #359
Get A VPS

[2020-11-25 07:34] alikemalkara61 commented on #359
ok thanks

[2020-11-25 07:34] alikemalkara61 commented on #359
Can you specify a discord address?

[2020-11-25 08:12] shootdot commented on #359
wdym by discord address ?

[2020-11-25 17:31] Sank6 commented on #358
I'll have a look. That isn't supposed to work.

[2020-11-25 17:31] Sank6 commented on #359
[Setup guide](https://github.com/Sank6/Discord-Bot-List/wiki/Setup-Information)

[2020-11-25 17:31] #359 closed

[2020-11-25 17:35] Sank6 commented on #357
It's on the development branch if you want to use it now, but I'll work on fixing bugs and pushing to master when I can.

[2020-11-25 20:56] wqtalha opened #360 "question"
What is the server count api and where to use it.
It's on the bot edit page, but I don't know what it does. Can you explain?

[2020-11-26 03:37] shootdot commented on #360
@wqtalha Read this [https://github.com/Sank6/Discord-Bot-List/wiki/Server-Count-API](Server Count API)

[2020-11-26 06:47] ririko5834 commented on #357
OK, but please add also certified bots.

[2020-11-26 13:21] RITIKDHAYAL-PHOENIX opened #361 "Suggestion"
Please add certified bots and some more categories pleaseeeeee.

[2020-11-26 13:30] shootdot commented on #361
As Sank6 already told we are not copying exact of top.gg and it is not much required for a bot list it won't be added. If you want please code yourself.

[2020-11-26 16:34] Sank6 commented on #361
Also categories are entirely customisable.

[2020-11-26 16:34] #361 closed

[2020-11-26 16:35] Sank6 commented on #360
I plan to add these instructions to the server tab in the bot edit page, along with statistics, like a graph, but I haven't got round to it yet. For now, use the [wiki page](https://github.com/Sank6/Discord-Bot-List/wiki/Server-Count-API) like @shootdot said.

[2020-11-26 16:35] #360 closed

[2020-11-26 16:37] shootdot commented on #361
Lol

[2020-11-27 19:10] Sank6 commented on #354
Just tested, those all work fine.

[2020-11-27 19:10] #354 closed

[2020-11-27 19:13] Sank6 commented on #358
Just tested it. Doesn't seem to work. Are the votes being cast with the old bot command still?

[2020-11-27 19:13] #358 closed

[2020-11-28 10:01] ririko5834 opened #363 "Bug"
When i click on tag on /bots/:id page i am not redirected to the tag page, just color is changed.
![image](https://user-images.githubusercontent.com/64729293/100499303-ba7c4c00-3168-11eb-8c20-2671ff1938da.png)
![image](https://user-images.githubusercontent.com/64729293/100499301-b6502e80-3168-11eb-9a3e-b4405867bb4a.png)

[2020-11-28 10:02] ririko5834 commented on #363
Another problem with like page
![image](https://user-images.githubusercontent.com/64729293/100499359-3a0a1b00-3169-11eb-9181-873ad741c1ef.png)
Its too big

[2020-11-28 15:13] shootdot commented on #363
@ririko5834
[code]

[2020-11-28 15:15] shootdot commented on #363
@Sank6 Edit Line Number 43 src/dynamic/bots.pug
from
[code]
to
[code]

[2020-11-28 15:39] Sank6 commented on #363
Fixed

[2020-11-28 15:39] #363 closed

[2020-11-28 17:01] mongo001 opened #365 "error"
getting this error when starting it.
![image](https://user-images.githubusercontent.com/75176904/100521393-681f4780-31c9-11eb-9d8b-458febb96d47.png)

[2020-11-28 17:06] shootdot commented on #365
Looks like you didn't fill your config.json file well.

[2020-11-28 17:29] mongo001 commented on #365
its working before correctly today i just updates new updates than i getting this error
and my config file id well.

[2020-11-28 18:20] shootdot commented on #365
Just delete config.json and recreate it

[2020-11-28 18:32] mongo001 commented on #365
i did it not working.

[2020-11-28 22:36] Sank6 commented on #365
What's at position 642 on your config file?

[2020-11-29 06:59] mongo001 commented on #365
how i know which is position 642.

[2020-11-29 07:09] mongo001 commented on #365
now the new error
![image](https://user-images.githubusercontent.com/75176904/100535522-bf5fff00-323f-11eb-8b16-4de49f26117e.png)

[2020-11-29 09:03] ririko5834 commented on #345
Please add this

[2020-11-29 09:04] ririko5834 commented on #363
Ok, @shootdot Sorry for asking. Can you please make PR for certified bot system or admin panel dashboard.

[2020-11-29 09:12] ririko5834 opened #366 "Bug"
when i go to /tag/:tag
i am getting:
[code]

[2020-11-29 09:42] Sank6 commented on #365
Make sure you have all the files.

[2020-11-29 11:16] Sank6 commented on #366
Fixed

[2020-11-29 11:16] #366 closed

[2020-11-29 19:19] xX-MoonWalker-Xx opened #367 "Error: TokenError"
When I Authorize My Account(Login)
and i redirect to /api/callback
i get this error:

TokenError
    at Strategy.OAuth2Strategy.parseErrorResponse (C:\Users\Moon Walker\Desktop\Discord-Bot-List-master\Discord-Bot-List-master\node_modules\passport-oauth2\lib\strategy.js:358:12)
    at Strategy.OAuth2Strategy._createOAuthError (C:\Users\Moon Walker\Desktop\Discord-Bot-List-master\Discord-Bot-List-ma

[2020-11-29 20:20] Aduzy opened #368 "server tab"

[2020-11-29 20:21] Aduzy commented on #368
as in title

Server Tab would be great. By saying server tab i mean something like disboard etc

[2020-11-29 21:33] Sank6 commented on #368
I see your point but this is a bot list. A server list would need entirely different backend.

[2020-11-29 21:33] #368 closed

[2020-11-29 21:41] Sank6 commented on #367
Check the domain in the [config file includes the protocol](https://github.com/Sank6/Discord-Bot-List/wiki/Setup-Information#config) and doesn't end with a `/`.

[2020-11-30 01:37] walmart44 opened #369 "Error:"
Im trying to connect to the database with this "mongo_url": "mongodb://localhost:27017/admin", but im,getting this error

(node:26140) UnhandledPromiseRejectionWarning: MongooseServerSelectionError: connect ECONNREFUSED 127.0.0.1:27017
    at NativeConnection.Connection.openUri (C:\Users\uuu\Desktop\Discord-Bot-List\node_modules\mongoose\lib\connection.js:830:32)
    at C:\Users\uuu\Desktop\Discor

[2020-11-30 02:07] xX-MoonWalker-Xx commented on #367
It's Correct

`domain-with-protocol: http://localhost`
and port is default

[2020-11-30 03:02] xIgreq commented on #369
Please check, if your database is running on this port

[2020-11-30 03:42] shootdot commented on #369
Try changing the admin to some other word like botlist etc

On Mon, 30 Nov 2020, 7:02 am xIgreq, <notifications@github.com> wrote:

[2020-11-30 03:42] shootdot commented on #367
Is your port 80 ?

On Mon, 30 Nov 2020, 6:07 am MoonWalker, <notifications@github.com> wrote:

[2020-11-30 03:44] xX-MoonWalker-Xx commented on #367
Yes

[2020-11-30 04:21] xX-MoonWalker-Xx commented on #367
Help please
![screenshot](https://user-images.githubusercontent.com/72574462/100568599-e0c4f780-32e0-11eb-8b8e-60e7470832e2.jpg)

[2020-11-30 04:28] shootdot commented on #367
Looks like you are running it on port 3001.
Change the port in config.json and goto your bot OAuth redirect URL and change to `http://localhost:3001/api/callback`

[2020-11-30 04:29] shootdot commented on #369
And Are you using Windows OS to host this ?

[2020-11-30 04:32] shootdot commented on #367
Okay Try now.

[2020-11-30 04:33] xX-MoonWalker-Xx commented on #367
![Uploading 2020-11-30_08-03_Error.jpg…]()

[2020-11-30 04:34] shootdot commented on #367
Still same ? Have u changed in config.json file ?

[2020-11-30 04:34] xX-MoonWalker-Xx commented on #367
yes

[2020-11-30 04:35] shootdot commented on #367
Okay Restart the bot

[2020-11-30 04:35] xX-MoonWalker-Xx commented on #367
I Restarted Before Testing again

[2020-11-30 04:35] shootdot commented on #367
Oh

[2020-11-30 04:36] xX-MoonWalker-Xx commented on #367
What i can do ? :(

[2020-11-30 04:38] shootdot commented on #367
Have you selected the redirect URL in OAUTH after editing ?
![image](https://user-images.githubusercontent.com/55920587/100569418-651a7900-32e7-11eb-93a7-cf6fe2ddd979.png)

[2020-11-30 04:39] xX-MoonWalker-Xx commented on #367
yes

[2020-11-30 04:40] shootdot commented on #367
Have you filled everything in config.json including client secret etc.

[2020-11-30 04:40] xX-MoonWalker-Xx commented on #367
wait im checking

[2020-11-30 04:40] shootdot commented on #367
Okay

[2020-11-30 04:41] xX-MoonWalker-Xx commented on #367
Fixed ! :D

[2020-11-30 04:41] shootdot commented on #367
Good You can close this issue.

[2020-11-30 04:42] xX-MoonWalker-Xx commented on #367
Thank You :D

[2020-11-30 04:42] shootdot commented on #367
Np

[2020-11-30 04:42] #367 closed

[2020-11-30 04:44] shootdot commented on #369
If you  are using Windows
Goto `Control Panel --> Administrative Tools --> Services --> Search For MongoDB --> Right Click and press Start --> Wait for it to start --> Start the bot list`

[2020-11-30 05:43] Mad-Ollie opened #370 "Problem"
![Screenshot_20](https://user-images.githubusercontent.com/73799984/100572954-5b1f5880-329c-11eb-8d1a-00674582168f.png)
![Screenshot_21](https://user-images.githubusercontent.com/73799984/100572983-6d00fb80-329c-11eb-8b6e-cb6a34b1c693.png)

I have placed everything correctly and I get that when I log in

[2020-11-30 05:49] shootdot commented on #370
In config.json file edit the area domain woth protocol to `https://mbotlistn.glitch.me`

[2020-11-30 05:49] shootdot commented on #370
And read

[2020-11-30 08:24] Zaid-maker commented on #370
yup that will fixes the issue

[2020-11-30 12:27] random-people-in-internet commented on #345
Yes please add this

[2020-11-30 13:53] random-people-in-internet commented on #156
Can You Please Say The File Name Or Location And Give The Code?
For example:

index.js file in src/... :
`Code`

[2020-11-30 14:03] shootdot commented on #156
@random-people-in-internet This won't  work here now. THe files are updated to language pug

[2020-11-30 14:46] random-people-in-internet commented on #156
I want to show the bot is not verifyed in bot info

[2020-11-30 15:51] RITIKDHAYAL-PHOENIX commented on #357
@shootdot please make pr

[2020-11-30 15:51] walmart44 commented on #369
I don't think I even setup mongodb on my computer. How would I go about on doing that?

[2020-11-30 17:10] shootdot commented on #369
Then please install mongodb

On Mon, 30 Nov 2020, 7:51 pm walmart44, <notifications@github.com> wrote:

[2020-11-30 17:12] shootdot commented on #357
This is Sank6 repo and as sank6 told it isn't that necessary. So please stop pinging me. If Sank6 tells i will create a PR for sure.

[2020-11-30 18:26] #370 closed

[2020-11-30 18:27] Sank6 commented on #369
https://www.mongodb.com/try/download

[2020-11-30 18:27] #369 closed

[2020-11-30 19:30] Sank6 commented on #156
Unverified bots shouldn't be visible to users. Only admins and bot owners.

[2020-11-30 21:30] walmart44 commented on #369
yea got it but how am I suppose to call a callback url if it's not released yet?

[2020-11-30 21:36] walmart44 commented on #369
nvm

[2020-11-30 21:39] walmart44 commented on #369
The submit button doesn't work when adding bot

[2020-11-30 22:39] Sank6 commented on #369
Any error? Have you sorted out the captcha?

[2020-11-30 23:11] walmart44 commented on #369
No errors and is it required the captcha?

If so is it possible to set up the captcha on localhost?

[2020-12-01 01:10] walmart44 commented on #369
Ok but when someone adds the bot is it suppose to be added to the server?

[2020-12-01 01:10] walmart44 commented on #369
Figured out the captcha part btw

[2020-12-01 01:15] walmart44 commented on #369
Also when you try to remove the bot it doesn't remove it from the website

[2020-12-01 07:23] walmart44 commented on #369
Also when you add a bot and not verify it. When you go to the search the bot shows up there.

[2020-12-01 07:52] shootdot commented on #369
Yea it is shown but when u try to view it it will show forbidden. Yeah so it isn't a bug

[2020-12-01 07:53] shootdot commented on #369
No You manually need to add it

[2020-12-01 07:53] shootdot commented on #369
It doesn't get removed so that the user may resubmit again after fixing the issues.

[2020-12-01 08:55] alikemalkara61 opened #371 "ADMIN PANEL"
How do I login to the admin panel

[2020-12-01 09:00] Zaid-maker commented on #371
There is no Admin panel lmao

On Tue, Dec 1, 2020, 1:55 PM alikemalkara61 <notifications@github.com>
wrote:

[2020-12-01 09:14] alikemalkara61 commented on #371
ok

[2020-12-01 09:14] #371 closed

[2020-12-01 11:28] #365 closed

[2020-12-01 13:33] walmart44 commented on #369
Ok so that delete button really does nothing

[2020-12-01 14:38] shootdot commented on #369
The delete button deletes the bot from everywhere.

On Tue, 1 Dec 2020, 5:33 pm walmart44, <notifications@github.com> wrote:

[2020-12-01 14:48] walmart44 commented on #369
But when I tried clicking it and then entered the bots name it didn't delete it. It just stayed on the profile so that's what its suppose to do right?

[2020-12-01 14:50] shootdot commented on #369
Nope it deletes. Idk why it isn't working for you.

On Tue, 1 Dec 2020, 6:48 pm walmart44, <notifications@github.com> wrote:

[2020-12-01 14:53] walmart44 commented on #369
and If you download the zip and do all the stuff again it will work for you still?

[2020-12-01 14:58] walmart44 commented on #369
I think is the correct part to delete
if (val.state == "deleted")
                    a.small.half.half-left.button(href=`/bots/resubmit/${val.botid}/`) Resubmit
                    a.small.half.half-right.button.button-red.delete(href="#confirm" data-id=val.botid data-name=val.username)
                        |  Delete
                else
                    a.small.half.half-left.button(href=`

[2020-12-01 15:00] shootdot commented on #369
Nope i isn't this is the code to remove the bot or deny the bot

[2020-12-01 15:01] walmart44 commented on #369
Where is it located to remove the bot from the profile?

[2020-12-01 15:12] walmart44 commented on #369
also it looks like it doesn't get deleted from database

[2020-12-01 15:13] walmart44 commented on #369
oh i think this is it
$( document ).ready(async function() {
    $(".link").click((e) => {
        $(".section").hide();
        $(e.target.href.split("/#").slice(-1)[0]).show()
    })
    $(document).on("click",".delete", function () {
        let newval = prompt(`Type ${$(this).attr("data-name")} to confirm`)

        if (newval.toLowerCase() === $(this).attr("data-name").toLowerCase()) {

[2020-12-01 15:36] shootdot commented on #369
It get's deleted from database.

[2020-12-01 15:43] shootdot commented on #369
[Here](https://github.com/Sank6/Discord-Bot-List/blob/master/src/routes/api/bots/delete.js) is the code for the bot deletion.

[2020-12-01 15:46] walmart44 commented on #369
ok yea i have that that's odd that it doesn't remove it from database

[2020-12-01 15:46] shootdot commented on #369
And this is the code for the prompt of delete button. So you told it get's refreshed once you enter the bot name according to the code if you enter incorrect bot name it will refresh without deleting the bot.

[2020-12-01 15:48] walmart44 commented on #369
i have that let me try again

[2020-12-01 15:49] walmart44 commented on #369
nope doesn't remove it

[2020-12-01 15:50] shootdot commented on #369
Works for me check console if any errors send here.

[2020-12-01 15:50] walmart44 commented on #369
no errors

[2020-12-01 15:50] walmart44 commented on #369
could it be because i have nothing in here "domain_with_protocol": "",

[2020-12-01 15:52] shootdot commented on #369
Nope that wont be the issue. But add your domain in domain with protocol if it's localhost then http://localhost

[2020-12-01 15:54] walmart44 commented on #369
ok but it's weird that its not working

[2020-12-01 15:56] walmart44 commented on #369
What should I do?

[2020-12-01 16:57] walmart44 commented on #369
The bots are being added to the database but its not being removed im so confused

[2020-12-01 18:11] shootdot commented on #369
Yea it's supposed to delete. I'm not on PC. I will try once I'm on PC

[2020-12-01 19:12] walmart44 commented on #369
Ok

[2020-12-02 00:20] walmart44 commented on #369
@shootdot Have you tested it?

[2020-12-02 05:50] shootdot commented on #369
Yea works pretty well for me.

On Wed, 2 Dec 2020, 4:20 am walmart44, <notifications@github.com> wrote:

[2020-12-02 11:55] walmart44 commented on #369
Could we maybe go onto discord at some point and you can take a look at what I have?

[2020-12-02 16:02] Sank6 commented on #369
Works for me as well. Is there anything else you have blank in your config?7
Also, check that the role for the bot managing the server is highest.

[2020-12-02 16:10] shootdot commented on #369
Sorry I can't share my Discord ID as I don't want peoples to spam my DM in Discord. Follow Sank6 Steps it may help you.

[2020-12-02 16:22] walmart44 commented on #369
I have nothing left blank and it is the highest role

[2020-12-02 16:23] mongo001 opened #372 "suggestion"
please make categories for bot . i will be not copy  i think its a nescessary thing in bot list to find top bots fast. and it gives botlist users a good thing to promote thier bots.

[2020-12-02 16:26] walmart44 commented on #369
When I hit delete it just brings be back to me page and doesn't delete the bot from the page on the me page

[2020-12-02 16:30] shootdot commented on #372
Bot categories are already made.

On Wed, 2 Dec 2020, 8:24 pm mongo001, <notifications@github.com> wrote:

[2020-12-02 16:55] wqtalha opened #373 "Error"
https://i.hizliresim.com/GgEGZJ.png

I got this error on the bot edit page
How can I fix?

[2020-12-02 17:15] shootdot commented on #373
Please fill the new config.json file from [here](https://github.com/Sank6/Discord-Bot-List/blob/master/config-example.json)

[2020-12-02 20:24] Sank6 commented on #369
I can't help you without more information. I can't reproduce the erorr and neither can others. Try the setup guide in the wiki if it helps.

[2020-12-02 20:48] walmart44 commented on #369
Ive followed that and there is no errors idk what else im suppose to say. as I said before if one of you guys want to go into discord I can screenshare and that may give you more information

[2020-12-02 22:40] walmart44 commented on #369
this looks correct to me
const { Router } = require("express");
const bodyParser = require("body-parser");
const { auth } = require("@utils/discordApi");
const Bots = require("@models/bots");

const { server } = require("@root/config.json");

const route = Router();
route.use(bodyParser.urlencoded({extended: true}));

route.delete("/:id", auth, async (req, res) => {
    let {id} = req.params;

[2020-12-02 22:40] walmart44 commented on #369
$( document ).ready(async function() {
$(".link").click((e) => {
$(".section").hide();
$(e.target.href.split("/#").slice(-1)[0]).show()
})
$(document).on("click",".delete", function () {
let newval = prompt(Type ${$(this).attr("data-name")} to confirm)

    if (newval.toLowerCase() === $(this).attr("data-name").toLowerCase()) {
        fetch(`/api/bots/${$(this).attr("data-id")}`, {method: "DELETE

[2020-12-02 22:41] walmart44 commented on #369
but what that code look likes it doing is just looping it back to the me and doing nothing

[2020-12-03 03:25] shootdot commented on #369
Okay So first let's check if the code tries to delete the bot or not.
so go to `src/routes/api/bots/delete.js` and replace with the code given below. After replacing restart the bot list and try deleing the bot. Then check console if it has logged `I'm In` it means it is trying to delete the bot. If there is no log in console it means it's not trying to delete the bot.
[code]

[2020-12-03 06:35] walmart44 commented on #369
I got I'm in

[2020-12-03 09:11] shootdot commented on #369
Did your bot got deleted ?

[2020-12-03 09:12] shootdot commented on #369
Ad if it fails to delete check Browser console. CTRL + SHIFT + J

[2020-12-03 12:46] walmart44 commented on #369
No

[2020-12-03 14:07] #373 closed

[2020-12-03 14:07] wqtalha opened #374 "Question"
How can I show the bots with the most votes on the homepage

[2020-12-03 14:41] shootdot commented on #374
It's already shown.

[2020-12-03 14:41] shootdot commented on #369
Hmm... Some issue with database.

[2020-12-03 14:46] shootdot commented on #369
Replace the below code with `src/routes/api/bots/delete.js` And check console after you press delete button.

[code]

[2020-12-03 15:49] walmart44 commented on #369
I'm getting

I'm In
You are additional owner. Only main owner can edit this.

Doesn't delete it

[2020-12-03 15:49] walmart44 commented on #369
So it thinks im not the main owner

[2020-12-03 15:50] walmart44 commented on #369
also in the users tab for the database is stuff suppose to store in there?

[2020-12-03 15:51] wqtalha commented on #374
No I just want to show the top voted bots on the homepage

[2020-12-03 15:56] wqtalha commented on #374
I don't want to show bots with 0 voted
I want to show the top voted 5 bots

[2020-12-03 16:12] shootdot commented on #369
What do you mean by users tab ?

[2020-12-03 16:13] shootdot commented on #369
Oof..

[2020-12-03 16:15] shootdot commented on #374
Why do you want to do that ?

[2020-12-03 16:19] walmart44 commented on #369
in the database there is a section for users and idk if stuff is suppose to get stored in there because rn there is nothing in there

[2020-12-03 16:21] walmart44 commented on #369
maybe thats why its not deleting it because my account isn't stored in the users table

[2020-12-03 16:23] shootdot commented on #369
No it wont be a reason

[2020-12-03 16:24] walmart44 commented on #369
idk then

[2020-12-03 16:24] shootdot commented on #369
Go to your bot directory that is `src/bot/commands/Bots`  and create a file called `updateid.js` over there. The location of the file will be `src/bot/commands/Bots*updateid.js` and paste the following code

[code]

[2020-12-03 16:30] wqtalha commented on #374
Because there are already bots in the search section, it will be better to have different things on the main page.

[2020-12-03 16:31] wqtalha commented on #374
When this is the case with all botlist sites why not here

[2020-12-03 16:32] walmart44 commented on #369
would i do ?updateid Botid

[2020-12-03 16:33] walmart44 commented on #369
nvm

[2020-12-03 16:33] walmart44 commented on #369
I get the same thing

[2020-12-03 16:35] walmart44 commented on #369
oh wait

[2020-12-03 16:35] walmart44 commented on #369
I keep getting Ping a bot or Enter Bot ID.

[2020-12-03 16:42] Sank6 commented on #369
That's probably the reason. Only primary owners can delete the bot.

[2020-12-03 16:47] walmart44 commented on #369
but I am the primary owner of the bot

[2020-12-03 16:54] walmart44 commented on #369
also you put user and member is the usage

[2020-12-03 16:58] walmart44 commented on #369
hold up figured out command it the command worked

[2020-12-03 16:58] shootdot commented on #369
You need to ping the bot and ping the owner. Example `.updateid @Bot
@PrimaryOwner`

On Thu, 3 Dec 2020, 8:54 pm walmart44, <notifications@github.com> wrote:

[2020-12-03 16:59] walmart44 commented on #369
yea but i still get the same message You are additional owner

[2020-12-03 17:09] shootdot commented on #369
That command updates the bot owner... it should work

On Thu, 3 Dec 2020, 8:59 pm walmart44, <notifications@github.com> wrote:

[2020-12-03 17:10] walmart44 commented on #369
looks like it doesn't but what is the users table for?

[2020-12-03 17:11] shootdot commented on #369
The user table is for voting

[2020-12-03 17:11] shootdot commented on #369
And storing voting time

[2020-12-03 17:11] walmart44 commented on #369
oh ok

[2020-12-03 17:12] shootdot commented on #369
I use that cmd to update bot owners... have u specified the correct mongo url ?

[2020-12-03 17:12] walmart44 commented on #369
yea because when i add the bot it adds it to the bots table

[2020-12-03 17:13] shootdot commented on #369
And for checking the mongo database if u are using windows install Robo3T on ir device and connect to ir mongo db and check the data of the bot.

[2020-12-03 17:13] walmart44 commented on #369
I have this mongodb://localhost:27017/admin

[2020-12-03 17:14] walmart44 commented on #369
can't i use MongoDB Compass?

[2020-12-03 17:14] shootdot commented on #369
I have never used it just check the bot owner field and if i can send screenshot.

[2020-12-03 17:14] shootdot commented on #369
Check the bot owner field in mongo compass

[2020-12-03 17:15] walmart44 commented on #369
yea its my id

[2020-12-03 17:15] shootdot commented on #369
Your id in which field ?

[2020-12-03 17:15] walmart44 commented on #369
owners > primary

[2020-12-03 17:16] shootdot commented on #369
Oh

[2020-12-03 17:16] shootdot commented on #369
It sjould work clone the repo once again replace the config.json and run the botlist again

[2020-12-03 17:17] walmart44 commented on #369
ok

[2020-12-03 17:51] walmart44 commented on #369
still doesn't work

[2020-12-04 19:40] walmart44 commented on #369
@shootdot

[2020-12-04 22:16] #372 closed

[2020-12-04 22:18] Sank6 commented on #374
The reason it's not already in this is so that all bots can have a similar chance if growing. However, you can change it in your code if you wish. Just add an if statement in `dynamic/index.pug`.

[2020-12-04 22:18] #374 closed

[2020-12-04 23:35] shootdot commented on #369
I guess due to mongodb /admin you aren't able to edit or delete the bot try using some other name instead of /admin.

[2020-12-05 09:28] ririko5834 opened #375 "Note to admin on bot submit"
When will be admin panel and certified bots added?

[2020-12-05 09:43] shootdot commented on #375
Certification will never been added and as for admin panel Idk what all should be there in admin panel. if I would come to know I can surely help Sank6 in making of admin panel.

[2020-12-05 09:59] Sank6 commented on #375
This isn't actively being maintained. There's only one other contributor other than me right now. I'll start on it when I can but even if I do, it'll take a while to be completed.

[2020-12-05 10:02] shootdot commented on #375
@Sank6 could you mention what all things must be there in admin panel ?

[2020-12-05 10:04] Sank6 commented on #375
I was hoping to start with an admin api and then creating some frontend to verify/decline bots from the admin dashboard.

[2020-12-05 10:12] shootdot commented on #375
Admin api for what ?

On Sat, 5 Dec 2020, 2:04 pm Sank6, <notifications@github.com> wrote:

[2020-12-05 10:30] ririko5834 commented on #375
Its sad that you dont want to add certified bots. I hope that admin panel will be launched soon 😉 .

[2020-12-05 11:20] WildThunder4764 opened #376 "erorrr when i do npm i"
this error has never occurred on previous node projects i kinda understand what it is but dunno how to solve it here is the error
`C:\Users\Nandu\OneDrive\Pictures\blot-list>npm i
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: silicobots.co@3.0.0
npm ERR! Found: discord.js@12.5.1
npm ERR! node_modules/discord.js
npm ERR!   discord.js@"

[2020-12-05 11:24] WildThunder4764 commented on #376
if you want debug.log here it is `0 verbose cli [
0 verbose cli   'C:\\Program Files\\nodejs\\node.exe',
0 verbose cli   'C:\\Users\\Nandu\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js',
0 verbose cli   'i'
0 verbose cli ]
1 info using npm@7.0.15
2 info using node@v15.3.0
3 timing config:load:defaults Completed in 2ms
4 timing config:load:file:C:\Users\Nandu\AppData\Roaming\npm\node_m

[2020-12-05 11:27] shootdot commented on #376
Do `npm i --force`

[2020-12-05 11:28] shootdot commented on #376
If still it's not working check which node version u have. Node version should be 12 or above. do `node -v` to get node version

[2020-12-05 11:39] WildThunder4764 commented on #376
C:\Users\Nandu\OneDrive\Pictures\blot-list>node -v
v15.3.0

[2020-12-05 11:43] WildThunder4764 commented on #376
C:\Users\Nandu\OneDrive\Pictures\blot-list>npm i --force
npm WARN using --force Recommended protections disabled.
npm WARN ERESOLVE overriding peer dependency
npm WARN Found: discord.js@12.5.1
npm WARN node_modules/discord.js
npm WARN   discord.js@"^12.5.1" from the root project
npm WARN
npm WARN Could not resolve dependency:
npm WARN peer discord.js@"github:discordjs/discord.js#master" from klasa

[2020-12-05 11:48] shootdot commented on #376
Try using node version 12.

[2020-12-05 11:56] WildThunder4764 commented on #376
okay

[2020-12-05 12:07] Sank6 commented on #375
API to verify and remove bots

[2020-12-05 12:17] shootdot commented on #375
I'm not getting. Whats the use of API ?

On Sat, 5 Dec 2020, 4:08 pm Sank6, <notifications@github.com> wrote:

[2020-12-05 14:59] Sank6 commented on #375
To actually update the bot details in the database.

[2020-12-05 15:35] shootdot commented on #375
Oh. I will try to work on it.

[2020-12-05 16:36] walmart44 commented on #369
Still doesn't work

[2020-12-05 17:29] shootdot commented on #369
What is your mongodb url now ?

[2020-12-05 19:29] walmart44 commented on #369
mongodb://localhost:27017/website

[2020-12-06 04:06] shootdot commented on #369
I have no Idea why it's happening.

[2020-12-06 04:20] shootdot commented on #375
Okay So todo things.

- [ ] Admin API with auth token to edit any bot details on website.

- [ ] Approve or deny a bot through website.

@Sank6 Is this correct ?

[2020-12-06 04:24] walmart44 commented on #369
Aw :(

[2020-12-06 08:37] ririko5834 commented on #375
@shootdot thanks for making admin panel, can you please also make PR for this https://github.com/Sank6/Discord-Bot-List/issues/345?

[2020-12-06 08:51] shootdot commented on #375
@Sank6 @ririko5834
Sneak Peak. I don't know well CSS so yeah if Sank6 you don't like it please change it I have no Idea how do I do styling more.
![image](https://user-images.githubusercontent.com/55920587/101275759-ac11de00-37c1-11eb-9c4b-6626fa3fc30b.png)

[2020-12-06 10:32] Sank6 commented on #375
Yeah I can change some of it to suit the website theme a little more. Thanks for making the PR though. It looks quite nice already tbh.

[2020-12-06 10:33] Sank6 commented on #375
Also you don't need an admin auth token. I was thinking bot verifiers and admins get an additional page on the dropdown menu under their name in the navbar to go to the dashboard.
This dashboard should just not be accessible for anyone who isn't an admin or bot verifier - return 403.

[2020-12-06 10:38] shootdot commented on #375
Okay Sank6 if you can I have one doubt about the API. Basically why do we need an API. Is the API needed to edit only bot details or something else also ?

[2020-12-06 10:41] shootdot commented on #375
Yeah I made dashboard to admins only yet. If other users try going to admin page it Shows 403 Forbidden. I will make it for bot verifiers also.

[2020-12-06 10:51] shootdot commented on #375
And if there is no auth token for Admin API anyone can use it right ?

[2020-12-06 12:53] server-git opened #377 "How to setup it"
{
    "mongo_url": "mongodb+srv://meliodas:hide@cluster0.kkcuu.mongodb.net/hide?retryWrites=true&w=majority",
    "server": {
        "id": "",
        "invite": "",
        "mod_log_id": "",
        "like_log": "",
        "admin_user_ids": [755334839649042473],
        "role_ids": {
            "bot": "",
            "unverified": "",
            "verified": "",

            "bot_developer": "",

[2020-12-06 13:11] server-git commented on #377
I almost solved all i just need to know how do i do to make the login work

[2020-12-06 13:14] #377 closed

[2020-12-06 14:25] Sank6 commented on #375
Nono. I mean API so the admin panel actually works. So for example, when you click the decline button on the frontend, you need to send a request to the backend. This is the API request and you check in the backend that the user is a bot reviewer and then decline the bot.

[2020-12-06 14:31] shootdot commented on #375
Oh Got it.

[2020-12-06 21:58] walmart44 commented on #369
Maybe because im running it on a localhost?

[2020-12-07 04:18] shootdot commented on #369
Nope That isn't the issue. I run bot list every time when I 'm developing something in the bot list. It works for me.

[2020-12-07 07:59] chitrakshbotwala opened #379 "I am getting issues with mongodb url is there anyway to fix it please tell or any vids i can watch"

[2020-12-07 08:17] shootdot commented on #379
Please mention the error

[2020-12-07 10:51] shootdot commented on #345
Long description or bot summary ?

[2020-12-07 10:54] wqtalha opened #380 "Error"
Nothing happens when I click the Submit button

[2020-12-07 11:58] ririko5834 commented on #345
Long description. I want to make that it must be 300 characters and longer.

[2020-12-07 12:05] ririko5834 commented on #375
The admin panel looks great. Also when it will be added please reopen this: https://github.com/Sank6/Discord-Bot-List/issues/346

[2020-12-07 12:24] shootdot commented on #380
1) Check if you have any console logs.
2) Make sure you have cloned the latest commit.
3) Make sure you have filled config.json

[2020-12-07 13:35] chitrakshbotwala commented on #379
I actually dont know how to get a mongodb url so please tell me how to get it

[2020-12-07 13:52] shootdot commented on #379
First you need to install mongodb
Then default mongo URL is `mongodb://127.0.0.1:27017/(type whatever u want here)`
Example `mongodb://127.0.0.1:27017/DBL`

[2020-12-07 14:56] walmart44 commented on #369
This is weird

[2020-12-07 14:56] walmart44 commented on #369
Maybe I setup mongodb wrong

[2020-12-07 15:00] ElemelkyaDima opened #381 "Cannot read property 'logo' of null"
![image](https://user-images.githubusercontent.com/71642531/101366463-d57e4880-3859-11eb-890c-493722227ce4.png)

[2020-12-07 15:03] Sank6 commented on #379
Or use mongodb atlas. Check the [setup page](https://github.com/Sank6/Discord-Bot-List/wiki/Setup-Information)

[2020-12-07 15:03] #379 closed

[2020-12-07 15:04] shootdot commented on #369
There is no wrong mongodb lol

[2020-12-07 15:04] Sank6 commented on #376
Yeah, I use Node 14 (LTS). The current version is usually less stable.

[2020-12-07 15:05] Sank6 commented on #381
The bot you're trying to verify hasn't actually been added to the database. Have you completed the add bot form for it?

[2020-12-07 15:06] shootdot commented on #381
The bot you want to verify is not in database first add it to database

[2020-12-07 15:06] ElemelkyaDima commented on #381
Sorry

[2020-12-07 15:06] #381 closed

[2020-12-07 15:10] Sank6 commented on #375
Yeah, once the admin panel reaches the master branch, I'll reopen it. Ping me if I forget.

[2020-12-07 16:00] idk-pixel opened #383 "additional owner error"
if you are editing a bot as an additional owner, even if you dont edit the owners, it gives an error ( Only the primary owner can edit additional owners )

[2020-12-07 16:25] shootdot commented on #383
Yeah.

[2020-12-07 16:26] shootdot commented on #383
https://github.com/Sank6/Discord-Bot-List/issues/369#issuecomment-738117254

[2020-12-07 17:04] walmart44 commented on #369
This is gay

[2020-12-07 18:17] #380 closed

[2020-12-08 05:40] chitrakshbotwala commented on #379
Ohk thanks for the help !

[2020-12-09 12:11] kjfkjdngsfkgm opened #384 "Glitch HELP"
![image](https://user-images.githubusercontent.com/75730533/101628233-8fc7a880-3a30-11eb-9cc7-296d47cfbe16.png)
![image](https://user-images.githubusercontent.com/75730533/101628354-bb4a9300-3a30-11eb-97c2-94f8696e50c8.png)

HELP ME MY DISCORD R2BOW#8992 or reply pls

[2020-12-09 18:27] artificialai223 opened #385 "Offline bug"
![image](https://i.imgur.com/zIOJWJF.png)
![image](https://i.imgur.com/oZH8LDl.png)
![image](https://i.imgur.com/TSoBrUO.png)

Every bot is offline on the list
however every bot is online

https://enderlist.xyz/

[2020-12-09 19:02] artificialai223 commented on #384
Its not supposed to be hosted on Glitch as said in the readme

[2020-12-09 22:00] Sank6 commented on #384
https://github.com/Sank6/Discord-Bot-List/wiki/FAQs#how-can-i-host-this

[2020-12-09 22:00] #384 closed

[2020-12-10 04:29] Derpy-py commented on #385
Hi! The online feature works perfectly for me. Make sure the bots added have the prescence intent enabled.

[2020-12-10 15:34] walmart44 commented on #369
Is it fixed?

[2020-12-10 17:44] 1sh0tgg opened #386 "How to make login via discord?"
![image](https://user-images.githubusercontent.com/70522999/101809339-3f883d80-3b39-11eb-8855-83b5c65169fe.png)

[2020-12-10 18:05] 1sh0tgg commented on #386
Infinite authorization with discord. I click log in and I'm thrown back to log in

[2020-12-10 18:05] 1sh0tgg commented on #386
![Uploading image.png…]()

[2020-12-11 06:00] shootdot commented on #386
What do you mean ?

[2020-12-11 06:01] shootdot commented on #385
Yeah. Online and offline status works perfectly. Enable Presence intent for your bot.

[2020-12-11 06:02] shootdot commented on #369
I have no Idea why it is happening to u.

[2020-12-11 06:14] 1sh0tgg commented on #386
I mean, when I click log in, it throws me back to authorization

[2020-12-11 06:55] shootdot commented on #386
Yeah you are supposed to get redirect to the authorization page and you need to authorize then you will automatically get logged in to via Discord.

[2020-12-11 06:57] shootdot commented on #376
@WildThunder4764 Is this issue fixed ? If fixed please close this issue.

[2020-12-11 06:58] shootdot commented on #383
@idk-pixel Is your issue fixed ? If fixed you may close this issue 😀

[2020-12-11 07:02] 1sh0tgg commented on #386
I click on the authorize button and it sends me back to discord authorization

[2020-12-11 07:02] 1sh0tgg commented on #386
https://discord.com/api/oauth2/authorize?client_id=786628075617517629&response_type=code&scope=identify&redirect_uri=http://localhost:666/api/callback

[2020-12-11 08:28] #376 closed

[2020-12-11 08:30] #383 closed

[2020-12-11 10:19] Zaid-maker commented on #385
Ok

On Fri, Dec 11, 2020, 11:01 AM shoot.dot <notifications@github.com> wrote:

[2020-12-11 10:34] ririko5834 commented on #345
@shootdot

[2020-12-11 14:51] #386 closed

[2020-12-11 15:20] lavv6 opened #387 "How do I add searchbar in the home page?"
I've tried it with this code:

[code]

[2020-12-11 15:24] artificialai223 commented on #385
Every bot has it enabled and so does the Oauth bot

[2020-12-11 16:19] Sank6 commented on #387
Try this:
[code]

[2020-12-11 16:29] lavv6 commented on #387
I did this:

[code]

and it shows this error:

[code]

[2020-12-11 16:58] walmart44 commented on #369
It also happening to other people too right

[2020-12-11 18:40] lavv6 commented on #387
??????

[2020-12-11 20:38] Sank6 commented on #387
I forgot the `.` after the `script`. Add it back in. Also, that error message is awful lol.

[2020-12-11 21:15] #387 closed

[2020-12-12 00:35] lavv6 opened #388 "[suggestion] maybe add bot reviews? so users can comment it and give some stars"

[2020-12-12 00:42] AibersonDev opened #389 "Suggestion"
This is a suggestion: It would be nice if there was a way to show the number of servers the bot is on, like an api / package for it. I hope it is taken into account.

[2020-12-12 01:14] lavv6 commented on #389
There's already an API

[2020-12-12 04:40] shootdot commented on #369
Nope

[2020-12-12 15:31] Sank6 commented on #389
https://github.com/Sank6/Discord-Bot-List/wiki/Server-Count-API

[2020-12-12 15:31] #389 closed

[2020-12-12 15:49] walmart44 commented on #369
Can you try to download it and set up a new database and see if it still works for you?

[2020-12-12 15:51] shootdot opened #390 "Error"
https://github.com/Sank6/Discord-Bot-List/blob/development/src/dynamic/includes/nav.pug
Cannot read property baseURL of undefined. I have Fixed it below.
[code]

[2020-12-12 15:52] shootdot commented on #369
It works for me I have tried it before.

[2020-12-12 15:54] shootdot commented on #369
Try this code. This code will delete the bot if u are additional owner also.
Paste in `src/routes/api/bots/delete.js`
[code]

[2020-12-12 20:00] Sank6 commented on #390
I don't think that would fix the error message because you're still using `req.baseUrl`. However, good point, that is a bug. Fixed in dev branch. 👍

[2020-12-12 20:00] #390 closed

[2020-12-13 08:08] ririko5834 commented on #388
Yes, its good idea. And maybe add there limit that user can post 1 comment every 12 hours to protect from spam.

[2020-12-14 13:20] Sank6 commented on #385
Just tested. It seems to work fine for me. Is it something to do with Discord perms?

[2020-12-15 12:41] VortexDev20 opened #393 "Loggin error"
const { Router } = require("express");
const passport = require('passport');
const route = Router();

 route.get("/", passport.authenticate('discord', { scope: ["identify","email"], prompt: "consent" }), function(req, res) {});

module.exports = route;

It need to redirect me to : https://discord.com/api/oauth2/authorize?client_id=787725677112983552&redirect_uri=http%3A%2F%2Flocalhost%3A80&respons

[2020-12-15 12:58] shootdot commented on #393
You have edited the file.

[2020-12-15 13:01] shootdot commented on #393
If you want to edit the scopes u need to edit in login.js in routers and in `/src/utils/passport.js` You need to edit `var scopes = ['identify', 'email'];`

[2020-12-15 13:14] Sank6 commented on #393
I'm confused. Why do you want guilds and email?

[2020-12-15 13:42] VortexDev20 opened #395 "reCaptcha"
whene i remove this line in the add file : const { web: {recaptcha_v2: {site_key}}, bot_options: {bot_tags} } = require("@root/config.json");
to remove the captcha

its dont work :(

How to remove the captcha pls ?

[2020-12-15 14:04] VortexDev20 opened #396 "Name"
Hi everyone this is my third question , how to change the Name of the text
![image](https://user-images.githubusercontent.com/72358638/102224812-b41afd80-3ee6-11eb-9fac-091d5f3c5783.png)
Because i wanna change them as another language ( french )

[2020-12-15 14:06] Sank6 commented on #396
https://github.com/Sank6/Discord-Bot-List/blob/master/src/dynamic/includes/nav.pug

[2020-12-15 14:06] #396 closed

[2020-12-15 14:06] Sank6 commented on #395
Why do you want to remove the recaptcha? You'll have to remove it from the backend and the frontend

[2020-12-15 14:54] shootdot commented on #395
If you wabt to remove recaptcha u need to remove ot from utils/checkfield.js

[2020-12-15 19:04] NoHacksLegit opened #397 "Lack of packages"
Hello, I have completed everything and now that I try to turn it on it tells me that there are packages without registering or that they do not exist, could you help me?
I don't know totally what they are, I just know some

[2020-12-15 19:26] Lee0w0 opened #398 "npm ERR"
`npm ERR! code E404
npm ERR! 404 Not Found - GET https://registry.npmjs.org/@structures%2fapp.js - Not found
npm ERR! 404
npm ERR! 404  '@structures/app.js@latest' is not in the npm registry.
npm ERR! 404 You should bug the author to publish it (or use the name yourself!)
npm ERR! 404
npm ERR! 404 Note that you can also install from a
npm ERR! 404 tarball, folder, http url, or git url.

npm ERR! A

[2020-12-16 00:54] Sank6 commented on #398
Thats not an NPM module. That's a path to a file using module alias

[2020-12-16 00:54] Sank6 commented on #397
What?

[2020-12-16 11:43] VortexDev20 opened #399 "Submit Boutton"
Hi so resubmit boutton is not working , whene i click it there is not error in the console

[2020-12-16 12:01] shootdot commented on #399
Reaubmit button works well check for any error in browser console. `CTRL + SHIFT + J` or `F12` in browser.

[2020-12-16 20:24] VortexDev20 opened #400 "reCaptcha"
![image](https://user-images.githubusercontent.com/72358638/102402325-e7dc4d00-3fe4-11eb-836d-2d18aea9359c.png)
ERROR : site_key not working

My website is : localhost:80 , so how to link my site key to my website hosted in my pc ?

[2020-12-16 20:39] Sank6 commented on #400
https://github.com/Sank6/Discord-Bot-List/wiki/Setup-Information#config

[2020-12-16 20:39] #400 closed

[2020-12-16 20:40] #395 closed

[2020-12-17 06:06] TheCuteFoxxy opened #401 "Suggestion: Ability To Hoist Bots"
Add a way for admins to hoist bots.

Such as being listed first on searches/being listed first on the home page.

Potentially with an icon in the corner of the bot card to indicate its status.

[2020-12-17 06:40] TheCuteFoxxy opened #402 "Bug: "Unknown Member" error if the user is not in the server"
An error occurs when a user tries to visit the "add" page if they are not in the server, causing a 504 Gateway Timeout.

`[2020-12-17 00:34:05] [EVENT] /home/container/node_modules/klasa/src/events/unhandledRejection.js
[2020-12-17 00:34:05] Error [ERR_UNHANDLED_ERROR]: Unhandled error. ('Uncaught Promise Error: \n' +
[2020-12-17 00:34:05]   'DiscordAPIError: Unknown Member\n' +
[2020-12-17 00:34:

[2020-12-17 08:38] shootdot commented on #402
@TheCuteFoxxy I have fixed the issue. goto `src/utils/discordApi.js` and replace the code with this
[code]

[2020-12-17 11:44] ririko5834 commented on #401
Yes, good idea. Also I think that verified bots should have badge also on search and main page.

[2020-12-17 12:15] ririko5834 commented on #375
@Sank6 Please reopen it

[2020-12-17 12:19] ririko5834 opened #403 "Suggestion"
Please add .env config support.
Can you add support for .env and config.json at time that when value is not in config.json it will be fetched from .env using process.env.value ?

[2020-12-17 12:52] shootdot commented on #403
But why when you have config.json ?

[2020-12-17 13:09] ririko5834 commented on #403
Because .env is better for me. Also please check https://github.com/Sank6/Discord-Bot-List/issues/345

[2020-12-17 13:23] Sank6 commented on #402
👍 Looks good. I'll have a look and add it soon.

[2020-12-17 13:25] Sank6 commented on #403
I used to use .env but its confusing because you can't have JSON-like structure. I don't think I'll be adding it back again, sorry.

[2020-12-17 13:25] #403 closed

[2020-12-17 13:25] #399 closed

[2020-12-17 13:25] #393 closed

[2020-12-17 13:25] #385 closed

[2020-12-17 13:26] #333 closed

[2020-12-17 13:48] ririko5834 commented on #403
@ririko5834 Can you tell me how to add it just for my botlist? What should i use.
you can use json in .env
for example in .env: `ARRAY=["test", "test2"]`
and then use `JSON.parse(process.env.ARRAY)`

[2020-12-17 14:54] Sank6 commented on #403
Yes I know, but you can just use a config file at that point. What's wrong with it?

[2020-12-17 17:57] legofan10 opened #404 "Image Change"
Hello, how do I change an image on the file. Like I want to change the logo on logo.png. How do I change it??

[2020-12-17 19:17] Sank6 commented on #404
Change the file. It'll be in `public/assets/` probably.

[2020-12-17 19:17] #404 closed

[2020-12-17 19:33] walmart44 commented on #369
yea that works its just really weird that it works for you

[2020-12-17 19:33] walmart44 commented on #369
like idk-pixel had the same issue

[2020-12-17 20:01] legofan10 commented on #404
What do you mean to change the file

[2020-12-17 20:04] Sank6 commented on #404
Replace it with a logo you want?

[2020-12-17 20:08] legofan10 commented on #404
how do you change it though

[2020-12-17 21:05] walmart44 commented on #369
@shootdot is there suppose to be a dashboard button somewhere?

[2020-12-17 21:21] walmart44 commented on #369
also a bug if you add a bot and its not approved yet or denied if you hit the search menu the bot shows up

[2020-12-18 07:25] ririko5834 commented on #401
I think that this is duplicate of https://github.com/Sank6/Discord-Bot-List/issues/357

[2020-12-18 09:20] shootdot commented on #369
@walmart44 Yes there is supposed to be a dashboard button on the content area where your Discord tag is shown on the website.

[2020-12-18 09:53] zennv commented on #401
like being featured?

[2020-12-18 11:09] ririko5834 commented on #401
Yes

[2020-12-18 11:43] walmart44 commented on #369
Odd doesn't show up

[2020-12-18 13:12] Sank6 commented on #369
It's on the dropdown menu under your username. It only shows up for admins and bot verifiers. Also, only on the development branch right now.

[2020-12-18 14:11] shootdot commented on #369
Wait no Sank6 you already merged it
![image](https://user-images.githubusercontent.com/55920587/102623712-61e31200-415c-11eb-88e2-a17e94a9158d.png)

[2020-12-18 16:25] legofan10 opened #406 "Suggestion: Add a queue page"
Add a page to view the queue like https://www.{domain}.whatever/queue and that will show the queue. It will be available for all members.

[2020-12-18 17:30] Sank6 commented on #369
Oh yeah.

[2020-12-18 17:31] Sank6 commented on #406
That shouldn't be public knowledge though. Maybe it would make sense to have the position in queue visible to the bot owners

[2020-12-18 17:38] walmart44 commented on #369
Yea

[2020-12-18 17:38] walmart44 commented on #369
I don't think the dropdown thing works

[2020-12-18 17:38] walmart44 commented on #369
At least for me

[2020-12-18 18:10] exiify opened #407 "Switch to react 😳 ?"
I think Switching to react will make it easier to mannage

[2020-12-18 18:11] TheCuteFoxxy commented on #401
It's not meant to be "certified" bots, its meant more as a reward system. Such as staff being able to give select bots a hoisted status temporarily.

[2020-12-18 18:15] wolfier74 commented on #406
Yes,  add command to show position of your bot to bot owner

[2020-12-18 18:17] wolfier74 opened #408 "Suggestion: Add option to add custom urls for bots (using command) and add Featured bots that will be showed first on the botlist"
Read title

[2020-12-18 18:51] zennv commented on #408
Already answered: #357

[2020-12-18 23:56] AibersonDev commented on #399
Hello, I have the same problem, I checked the console and I get the following:
[code]
The line has the following code:
[code]
![Sin título](https://user-images.githubusercontent.com/69764582/102674089-15eb9980-416b-11eb-8dd7-6178848ad766.png)

[2020-12-19 00:49] Sank6 commented on #407
True 😅. If I were to rewrite this in it's entirety, I would use Typescript and a JS framework, probably next.js or react. I'm not saying that It would basically require a whole restart and maybe even a new repo because the code would be entirely different.
The reason I haven't already done this is because I don't use this myself. I used to actually host it and use it. Then I stopped and decided to

[2020-12-19 00:51] Sank6 commented on #401
Yeah this isn't really certified. I can understand how highlighting one or two bots manually is useful.

[2020-12-19 00:52] Sank6 commented on #408
As for custom URLs, I don't think I'll add it. It makes more sense to use a URL shortner.

[2020-12-19 00:53] #408 closed

[2020-12-19 03:15] walmart44 commented on #369
also even though I have admin when I go to the admin page I get a forbidden

[2020-12-19 03:48] TheCuteFoxxy opened #409 "Bug: Failing ReCaptcha causes page reload"
If you fail the ReCaptcha, it causes the page to reload entirely. No error is provided in the console or to the user.

Unsure if this is intended or not, if there is a part of ReCaptcha code I can edit to change this to at least give the user an error please let me know.

[2020-12-19 07:49] Sank6 commented on #409
Sounds like a bug. I'll have a look.

[2020-12-19 09:50] shootdot commented on #406
Queue page for what ?

[2020-12-19 10:09] shootdot commented on #401
Ok for those who want to highlight any bot I can give u temporary code for it which I have made for my bot list.
Paste this code in `src/routes/index.js`
[code]

And in `src/dynamic/index.pug`

[code]

[2020-12-19 11:27] ririko5834 commented on #401
Can you add option to hoist more bots at time? Also add command !hoist mention and !unhoist mention for that

[2020-12-19 13:06] Sank6 commented on #369
Is your user ID in admin users in the config?

[2020-12-19 13:14] shootdot commented on #401
Adding commands are too much difficult.

[2020-12-19 13:23] shootdot commented on #401
[code]

[2020-12-19 13:36] tovade opened #410 "site key"
hello there i have been wondering how do i get site key? Any replies are welcome

[2020-12-19 13:41] shootdot commented on #410
https://github.com/Sank6/Discord-Bot-List/wiki/Setup-Information#config

[2020-12-19 15:10] walmart44 commented on #369
Yea

[2020-12-19 15:42] shootdot commented on #369
Ok after logging in to website via discord goto me page and check if u get dashboard option under dropdown

[2020-12-19 15:51] walmart44 commented on #369
I don't

[2020-12-19 16:00] walmart44 commented on #369
I think i found a bug you need to have the bot reviewer role for it to actually work

[2020-12-19 20:10] wolfier74 commented on #408
But when i will use url shorter, it will be not same domain
I want to use https://mydomain.example/bots/ custom-vanity or botid

[2020-12-19 21:32] Sank6 commented on #408
Yeah but the only advantage to a vanity url is that it's easy to type out manually. It's easier if the URL is shorter right?

[2020-12-19 23:33] walmart44 commented on #369
Also when you either accept or deny the on the review on the website and you hit confirm it just keeps loading

[2020-12-20 04:07] shootdot commented on #369
Never happened to me.  Any error logs on console ?

[2020-12-20 04:09] shootdot commented on #408
@Sank6 Vanity URL are easier to make. I made for my botlist. You just need to check if the parameter is integer if no find the bot from mongodb using the vanity url.

[2020-12-20 04:09] shootdot commented on #408
If you think it's good Idea I can surely open PR for it

[2020-12-20 05:25] walmart44 commented on #369
Nope

[2020-12-20 08:34] ririko5834 commented on #401
@shootdot But why you cant add commands and create mongodb array where will be saved hoisted bot ids.

[2020-12-20 08:35] ririko5834 commented on #401
Also can you please send me code how to make custom (vanity) link for bot?

[2020-12-20 14:19] Sank6 commented on #408
But that defeats the whole point of it. It should be customisable and short. For example, Microsoft use the domain `aka.ms` when they want you to go to a page on their website thats easy to type out. So they might say `aka.ms/remoteconnect` which then redirects you to a long url. Vanity URLs don't really have much use on the original domain but if people want it, then make a pr.

[2020-12-20 14:21] Sank6 commented on #401
@ririko5834 That's the whole certified thing again. Having a snippet of code on the frontend to reorder the bots, or add a category is "temporary hoisting". Adding a property in MongoDB and setting a bot to be hoisted is a lot more complicated.

[2020-12-20 14:36] LNTheLord opened #411 "Mongo DB"
(node:2746) UnhandledPromiseRejectionWarning: MongooseServerSelectionError: Could not connect to any servers in your MongoDB Atlas cluster. One common reason is that you're trying to access the database from an IP that isn't whitelisted. Make sure your current IP address is on your Atlas cluster's IP whitelist: https://docs.atlas.mongodb.com/security-whitelist/

[2020-12-20 14:44] #411 closed

[2020-12-20 14:45] LNTheLord opened #412 "Error"
events.js:291
      throw er; // Unhandled 'error' event
      ^
Error: listen EACCES: permission denied 0.0.0.0:80
    at Server.setupListenHandle [as _listen2] (net.js:1299:21)
    at listenInCluster (net.js:1364:12)
    at Server.listen (net.js:1450:7)
    at Function.listen (/rbd/pnpm-volume/575e6d42-7a29-4990-bec8-1bbeccb94418/node_modules/.registry.npmjs.org/express/4.17.1/node_modules/expre

[2020-12-20 15:07] shootdot commented on #412
Looks like your port `80` is running. Try switching to different port like `8080`

[2020-12-20 15:09] shootdot commented on #408
@Sank6 But we can make like this rght ?
`https://domain.com/bots/<whateverheywanthere>`

[2020-12-20 15:19] shootdot commented on #401
@ririko5834
1) Changes in routes are not applied until you restart the whole botlist again.
2) But if you want to hoist bot's via discord bot command you need to create one more property in bot's mongoose model and make default to null. In `src/public/assets/js/cards.js` You need to add the code where you filter bots based on the property you created on bot's mongoose model then you need to edit t

[2020-12-20 18:05] #412 closed

[2020-12-20 18:08] LNTheLord opened #413 "Callback"
domain with protocol: https://ice-bots.tk/api/callback but error
![Screenshot_20201220-210802](https://user-images.githubusercontent.com/75278120/102720791-80d1d780-4307-11eb-9308-d9199e849c2a.png)

[2020-12-20 19:28] VortexDev20 opened #414 "Suggestion :D"
Add a promote system and a bot booster system

[2020-12-20 20:17] shootdot commented on #413
https://github.com/Sank6/Discord-Bot-List/wiki/FAQs#invalid-oauth2-redirect-uri

[2020-12-20 21:27] VortexDev20 opened #415 "WebSite - Sugesstion"
Add catégories : Top Liked , Certified , etc ..........

[2020-12-20 22:19] shootdot commented on #415
@VortexDev20
1. Please open 1 issue and put your requests there. Don't open multiple issues.
2. As Sank6 told earlier he/she will not be adding categories.

[2020-12-21 01:18] Lucaslah commented on #402
Works for Me

[2020-12-21 01:28] Lucaslah opened #416 "Submit Button dose nothing"
When adding a new bot the Submit button dose nothing

I have checked all config files, and there are no errors in my console.

[2020-12-21 01:49] Lucaslah commented on #416
Fixed

[2020-12-21 01:49] #416 closed

[2020-12-21 02:01] MCBCMAN123 opened #417 "Oauth2 Error"
Can Anyone Pls Tell Me How To Fix This Error
Invalid Oauth2 Redirect_Url

Pls I Really Need Help

[2020-12-21 02:08] Lucaslah commented on #417
Have you filled in everything in your config.json file?

[2020-12-21 03:00] MCBCMAN123 commented on #417
Can You Just Tell Me What All Do I Have To Fill In Config.json So That I Can Just Corss Check

[2020-12-21 03:32] Lucaslah commented on #417
I can give you an example config.json, Any you need to fill in everything.
[code]

Also please read the Wiki: https://github.com/Sank6/Discord-Bot-List/wiki/Setup-Information

[2020-12-21 04:55] MCBCMAN123 commented on #417
Ok I Have Got Everything That You Need , Now What Should I Do ?_?

[2020-12-21 05:32] Lucaslah commented on #417
Well when you run `npm start` and go to http://localhost:port (replace port with your port number) dose it work?

[2020-12-21 05:49] shootdot commented on #417
https://github.com/Sank6/Discord-Bot-List/wiki/FAQs#invalid-oauth2-redirect-uri

[2020-12-21 05:56] MCBCMAN123 commented on #417
Yess It Workds

[2020-12-21 05:56] MCBCMAN123 commented on #417
Not Working I Guess , I Have Tried It

[2020-12-21 11:02] LNTheLord opened #418 "Server Count Api"
https://ice-bots.tk/api/auth/stats/790221233366499358/  but page not found

[2020-12-21 12:19] shootdot commented on #418
It will obviously show page not found. you can only send request to that URL you can't view that page.

[2020-12-21 12:33] LNTheLord commented on #418
How do I write the server count in the description

[2020-12-21 12:34] Zaid-maker commented on #418
😂😂😂😂😂😂😂😂

On Mon, Dec 21, 2020, 5:19 PM shoot.dot <notifications@github.com> wrote:

[2020-12-21 13:33] #410 closed

[2020-12-21 13:33] #413 closed

[2020-12-21 13:34] Sank6 commented on #414
#401

[2020-12-21 13:34] #414 closed

[2020-12-21 13:35] Sank6 commented on #415
Yeah it's already sorted by top liked which is good enough. Since many of you want bots to be separated to some degree, hoisting makes sense: #401. However certified is unnecessary imo.

[2020-12-21 13:35] #415 closed

[2020-12-21 13:37] Sank6 commented on #417
Can you send the discord url that you go to when you click login.

[2020-12-21 13:43] Sank6 commented on #418
The server count is shown in the bot page but not the description. I guess the only way to include your server count in the bot description is serve a dynamic image from your server which shows the server count and then have this image in your bot description.

[2020-12-21 13:50] LNTheLord commented on #418
So how can I write to the bot page

[2020-12-22 00:51] Sank6 commented on #418
What?

[2020-12-22 05:44] MCBCMAN123 commented on #417
Ya Sure , Just A Min

[2020-12-22 05:50] MCBCMAN123 commented on #417
https://discord.com/oauth2/authorize?prompt=consent&response_type=code&redirect_uri=http%3A%2F%2Fquaint-neighborly-canvas.glitch.me%2Fquaint-neighborly-canvas.glitch.me%2Fapi%2Fcallback&scope=identify&client_id=789746051938385940
Here You Go

[2020-12-22 10:37] Sank6 commented on #417
And you have this included in your Discord developer settings for this app?

[2020-12-22 10:37] #407 closed

[2020-12-22 19:55] server-git opened #419 "Add Bot Submit Button"
After i add all the info in the add bot and then when i press submit nothing happens
in console is no error
*im on localhost

[2020-12-22 20:01] server-git commented on #419
what?

[2020-12-22 20:02] server-git commented on #419
the link dosent work

[2020-12-22 20:35] Sank6 commented on #419
Check your [config](https://github.com/Sank6/Discord-Bot-List/wiki/Setup-Information#config).

[2020-12-22 20:39] Sank6 commented on #402
Added: e13f5f2

[2020-12-22 20:39] #402 closed

[2020-12-22 20:49] server-git commented on #419
its all good but dont work

[2020-12-22 21:32] server-git commented on #419
nvm fixed

[2020-12-22 21:32] #419 closed

[2020-12-22 21:53] server-git opened #421 "[Question] Does the website have an admin panel?"
Does the dashboard like the website have an admin panel where you see the posted bots and much more things?
If yes how do i activate it to my account>?

[2020-12-22 22:02] Sank6 commented on #421
Yes, if you've filled in the details in your config file correctly (admin user ids), a "dashboard" link should appear in your dropdown menu under your username when you login.

[2020-12-22 22:04] #421 closed

[2020-12-22 22:04] server-git commented on #421
thanks

[2020-12-22 22:34] Sank6 commented on #375
Added: 867a675e2af97f2e9f52cf8515ad5e904bfe6cc6

[2020-12-22 22:34] #375 closed

[2020-12-22 22:35] server-git opened #422 "[Question] How do i add another theme"
How do i add another theme like in ./dynamic/theme i created another theme.css and customized it but how do i add for users to be able to use it.

[2020-12-22 23:00] shootdot commented on #422
You can't add a new theme. But you can customize the current one. The theme file is located in `src/dynamic/theme`.

[2020-12-22 23:00] Sank6 commented on #345
Added

[2020-12-22 23:00] #345 closed

[2020-12-22 23:01] Sank6 commented on #422
Yeah, change the colours on the existing ones.

[2020-12-22 23:02] server-git commented on #422
You should add to create new  themes cus i  create one and customized  it but  i cannot add  it to the website  i like to  have like 3  themes if you understand what i say

[2020-12-22 23:03] Sank6 commented on #409
Just checked. It works fine for me. The error appears in the top right in a Noty notification

[2020-12-22 23:39] legofan10 opened #423 "Statuspage.io Embed"
Where would I put my bot list's statuspage.io embed code?

[2020-12-23 00:00] shootdot commented on #423
On which page are you trying to put ?

[2020-12-23 00:31] legofan10 commented on #423
the main page

[2020-12-23 02:10] MCBCMAN123 commented on #417
Yesss I Did That Too , Can I Pls Dm You In Discord So That You Can Just
Help Me

On Tue, Dec 22, 2020 at 4:07 PM Sank6 <notifications@github.com> wrote:

[2020-12-23 02:46] Lucaslah commented on #417
I can still help if you need

[2020-12-23 03:43] MCBCMAN123 commented on #417
Can You Just Give Me Your Discord Username So That I Can Send You The
Request

On Wed, Dec 23, 2020 at 8:16 AM Lucaslah <notifications@github.com> wrote:

[2020-12-23 04:15] KnownDev opened #424 "Auth problem"
ok so im having a auth problem i have everything it rite order and not workin i did it berforelong again and now it don't work

[2020-12-23 09:29] LNTheLord commented on #418
How and where can I show the server count

[2020-12-23 13:21] Sank6 commented on #423
Wherever you want. The files are in `src/dynamic`

[2020-12-23 13:21] Sank6 commented on #418
https://github.com/Sank6/Discord-Bot-List/wiki/Bot-developer-APIs

[2020-12-23 13:21] #418 closed

[2020-12-23 14:04] legofan10 commented on #423
what file will it be on?

[2020-12-23 14:14] Sank6 commented on #423
Up to you.

[2020-12-23 14:20] legofan10 commented on #423
no, like what file is the main page on

[2020-12-23 14:48] legofan10 commented on #406
like the bot queue

[2020-12-23 15:14] Zaid-maker opened #425 "SUGGESTION: What about Server List inside the bot list or sperate one?"
This is a nice idea because every bot list is adding that feature.

[2020-12-23 15:51] Sank6 commented on #423
index.pug

[2020-12-23 15:58] LNTheLord commented on #418
How will it be displayed on the bot page after sending the data to that link?

[2020-12-23 18:36] legofan10 commented on #423
thx

[2020-12-23 19:00] zennv commented on #425
this is a repo for a bot list, not for a server list lol

[2020-12-23 19:54] Sank6 commented on #418
Try it. It shows up next to the bot's username.

[2020-12-23 19:54] #423 closed

[2020-12-23 20:16] Zaid-maker commented on #425
@zennv not funny man hahahaha just @Sank6 if he likes that idea.

[2020-12-23 20:45] Sank6 commented on #425
Yeah, a server list is completely different. Would be too different, sorry.

[2020-12-23 20:45] #425 closed

[2020-12-24 10:35] #409 closed

[2020-12-24 11:06] LNTheLord commented on #418
So where do I throw the api code? Is it to the bot's main file?

[2020-12-24 13:08] Sank6 commented on #418
yep

[2020-12-24 19:05] LNTheLord commented on #418
https://ice-bots.tk/bots/789904157892280320 dont show

[2020-12-24 20:43] Sank6 commented on #418
Any errors when you sent the stats?

[2020-12-25 07:20] LNTheLord commented on #418
When I start the bot it sends the site codes to the logs

[2020-12-25 11:39] ririko5834 commented on #422
Good idea

[2020-12-25 11:40] ririko5834 commented on #425
Can you make also Discord-Server-List?

[2020-12-25 13:46] Zaid-maker commented on #425
That's what I ask lmao.

[2020-12-25 18:17] legofan10 opened #426 "In what folder..."
In what folder of the code holds the design of the bot list. Like the whole design. The header and colors. everything

[2020-12-25 19:55] Sank6 commented on #426
dynamic and public

[2020-12-25 19:55] #426 closed

[2020-12-28 14:32] legofan10 opened #428 "Question if not, Future Request"
At the end of every month or so do the bot likes/votes get reset? Or do we have to do it manually. If we do it manually, how do we do it?

[2020-12-28 14:54] Sank6 commented on #428
I don't think I'll be implementing a regular reset, but if you wanted to do it manually, the likes are stored in the MongoDB database as a property of the bots. It's just a number so setting it to zero would work. `Bots.updateMany({}, { likes: 0 })` would reset all likes

[2020-12-28 14:54] #428 closed

[2020-12-29 16:23] LNTheLord opened #429 "YouTube"
Can I shoot the video of the infrastructure on my youtube channel I will say it belongs to you

[2020-12-29 16:40] shootdot opened #430 "Suggestion"
Should we make Kick & ban Members in Admin Panel ?

[2020-12-29 19:49] legofan10 commented on #428
What would be the code?

[2020-12-29 21:11] Sank6 commented on #429
Yeah sure, go ahead.

[2020-12-29 21:11] #429 closed

[2020-12-29 21:13] Sank6 commented on #430
I think admin panel is going to need a few other pages, including managing verified bots, but kick and ban may not be necessary as it's not part of the botlist, more of a moderation tool for the server.

[2020-12-29 21:13] #430 closed

[2020-12-31 00:21] legofan10 opened #431 "Question if not, Future request #2"
What would be the code?

_Originally posted by @legofan10 in https://github.com/Sank6/Discord-Bot-List/issues/428#issuecomment-752220304_

[2021-01-01 11:35] NotMarx opened #432 "Long Description | HTML & Markdown"
Hi, I got some question and this is related about the long description when editing, adding, and resubmitting bots. How can I make so users can edit their long descriptions using html and markdown? Like top.gg does. If anyone is could help me with this, I’d appreciate and glad!

Thanks you

[2021-01-01 12:06] Sank6 commented on #432
What do you mean? It already uses HTML and markdown.

[2021-01-01 12:07] Sank6 commented on #431
That is the code.

[2021-01-01 13:36] NotMarx commented on #432
![58902BE8-3682-4706-B0C0-1CEF15CA5468](https://user-images.githubusercontent.com/73813638/103439586-c4660300-4c70-11eb-950d-8d4b8fe3ad7b.jpeg)

My friend tried to design his description with html but it turn to this like the picture above instead.

[2021-01-01 15:03] VortexDev20 opened #433 "Server Count Api"
Hi i want to know how the server count api works because i get the autorizathion token but where place it ?

[2021-01-01 18:53] Sank6 commented on #433
https://github.com/Sank6/Discord-Bot-List/wiki/Bot-developer-APIs

[2021-01-01 18:53] #433 closed

[2021-01-01 18:54] Sank6 commented on #432
Use the source tab in the WYSISWYG editor

[2021-01-02 00:51] NotMarx commented on #432
Sorry, but where I can find that??

[2021-01-02 01:37] NotMarx commented on #432
Is there’s a way so that the long description can works like in top.gg instead of using the WYSISWYG editor?

[2021-01-02 20:44] legofan10 commented on #431
like the whole code. or the part where that all happens

[2021-01-03 00:17] legofan10 opened #434 "Login not working"
I did the stuff in the dev dashboard and it is not working. I get the incorrect OAuth2 URI error. My dev dashboard:
![image](https://user-images.githubusercontent.com/76178542/103469162-369d1d00-4d2f-11eb-9bc4-a05bd9b22db6.png)

[2021-01-03 05:39] shootdot commented on #434
Make sure in config.json your website URL is not ending with `/`. Also https://github.com/Sank6/Discord-Bot-List/wiki/FAQs#invalid-oauth2-redirect-uri

[2021-01-03 10:59] #434 closed

[2021-01-03 10:59] Sank6 commented on #431
What?

[2021-01-03 11:57] NotMarx opened #435 "Infinite loading on invalid ID"
# Issue With Searching Users In The Website

Hi, so currently that there are some issues with when searching up users. So when I search `https://localhost/user/notuserid`, the site keep loading and not redirecting users to 404. And also it do works if it's a bot id and how do I prevent that too?

---

[2021-01-03 14:54] sunilpandey0011 opened #436 "I have a question can you help me"
Can i add my custom domain to it if yes how to add my domain please reply

[2021-01-03 15:07] sunilpandey0011 commented on #436
And can you tell me what is callback url and how to keep it?

[2021-01-03 15:43] shootdot commented on #436
@sunilpandey0011
https://github.com/Sank6/Discord-Bot-List/wiki/Setup-Information

[2021-01-03 15:44] shootdot commented on #435
Hmm.... Yeah just tried, It's an issue I will look into it for a fix

[2021-01-03 15:49] legofan10 commented on #434
still does not work

[2021-01-03 15:50] shootdot commented on #431
@legofan10 create a file called `reset.js` in `src/bot/commands/Bots` and paste this code :-

[code]

In discord run `[p]reset`

[2021-01-03 15:51] shootdot commented on #434
@legofan10 Send screenshot of `config.json` from `web` part

[2021-01-03 16:31] legofan10 commented on #431
thanks

[2021-01-03 16:33] legofan10 commented on #431
error. Unexpected Token last line

[2021-01-03 16:35] legofan10 commented on #434
![Screenshot 2021-01-03 113502](https://user-images.githubusercontent.com/76178542/103483808-c8506d00-4db7-11eb-85b1-9ecf82d886b9.png)

[2021-01-03 17:11] Sank6 commented on #431
Add a `}`

[2021-01-03 17:14] Sank6 commented on #434
Your discord client id is different to the one in your first screenshot of the dev dashboard.

[2021-01-03 17:22] Sank6 commented on #435
Fixed: cdb7c25da674b13d9951c2ae5d478340a5a22c44

[2021-01-03 17:23] #435 closed

[2021-01-03 18:02] legofan10 commented on #431
ok

[2021-01-03 18:04] legofan10 commented on #434
works thx

[2021-01-03 18:04] legofan10 commented on #431
works, thx

[2021-01-03 18:04] #431 closed

[2021-01-03 18:06] legofan10 commented on #434
nope. does not now. shows code when you finish login: `TokenError
    at Strategy.OAuth2Strategy.parseErrorResponse (/rbd/pnpm-volume/773d9154-d2e6-4e68-be52-6551887b083e/node_modules/passport-discord/node_modules/passport-oauth2/lib/strategy.js:358:12)
    at Strategy.OAuth2Strategy._createOAuthError (/rbd/pnpm-volume/773d9154-d2e6-4e68-be52-6551887b083e/node_modules/passport-discord/node_modules

[2021-01-04 02:41] NotMarx opened #438 "Questions Regarding To The Bot List"
Hi, I wanna ask some question about the bot list.

So does the bot list will list all of the bots? Like if there are 500 bots, it'll list them all or it has a limit like only 25 random bots will be in the list?

And how do I make a header 1, 2 and make it in the center in the long description of adding bots??

Any help would be appreciated!

Thanks.

[2021-01-04 04:38] RITIKDHAYAL-PHOENIX commented on #438
it will show all bots ....

[2021-01-04 04:44] RITIKDHAYAL-PHOENIX opened #439 "offline"
it's showing me all bots offline but they are online is there anything i have to do with perms? or anything else to fix it ....

[2021-01-04 04:53] NotMarx commented on #438
Wait what!?

[2021-01-04 05:43] NotMarx commented on #439
---

Check your bot at [discord.com.developers/applications](https://discord.com/developers/applications) and make sure that the Presence Intent is enabled. That should've fixed it.

---

[2021-01-04 09:04] ririko5834 opened #440 "Update embed"
Make that also bot like count and Discord verified badge will be displayed in /api/embed/:botid

[2021-01-04 13:07] legofan10 opened #441 "Login not working #2"
nope. does not now. shows code when you finish login: `TokenError
    at Strategy.OAuth2Strategy.parseErrorResponse (/rbd/pnpm-volume/773d9154-d2e6-4e68-be52-6551887b083e/node_modules/passport-discord/node_modules/passport-oauth2/lib/strategy.js:358:12)
    at Strategy.OAuth2Strategy._createOAuthError (/rbd/pnpm-volume/773d9154-d2e6-4e68-be52-6551887b083e/node_modules/passport-discord/node_modules

[2021-01-04 13:21] legofan10 commented on #441
nvm, my bot secret had invalid stuff. idk why

[2021-01-04 13:21] #441 closed

[2021-01-04 21:15] VortexDev20 opened #443 "Admin panel"
Is the admin panel working or no ?

[2021-01-04 21:54] #443 closed

[2021-01-04 21:56] VortexDev20 opened #444 "How to ?"
How i can do like top.gg , list bu top voted , new bots , etc ... ?

[2021-01-05 07:16] wolfier74 opened #445 "Suggestion: Replace google recaptcha with hcaptcha."
Read title

[2021-01-05 07:26] wolfier74 opened #446 "Question"
Make example code how can you log all likes related to your bot to your bot's support server to webhook using api.

[2021-01-05 11:57] Sank6 commented on #446
https://github.com/Sank6/Discord-Bot-List/wiki/Bot-developer-APIs

[2021-01-05 11:57] #446 closed

[2021-01-05 11:57] Sank6 commented on #445
Why?

[2021-01-05 11:59] #439 closed

[2021-01-05 12:01] Sank6 commented on #438
Yeah the list shows all bots. Use the `h1` and `h2` tags etc. on the the source tab.

[2021-01-05 12:01] #438 closed

[2021-01-05 14:29] wolfier74 commented on #445
Read this https://thehackernews.com/2021/01/google-speech-to-text-api-can-help.html

[2021-01-05 14:29] wolfier74 commented on #446
But i want that when someone like it will be posted to webhook

[2021-01-05 14:30] wolfier74 commented on #446
Not to return list

[2021-01-05 16:37] Sank6 commented on #446
There is no webhook implementation. You could periodically check the API and use an in-memory cache.

[2021-01-05 16:40] Sank6 commented on #445
You can just ban the person from the server at that point. I don't think that's gonna happen.

[2021-01-05 16:40] #445 closed

[2021-01-06 01:58] NotMarx commented on #438
Got some question again if you don't mind, how do I make the bots that showed up in the home page is limit to maybe 20-30 and randomly?

[2021-01-06 07:17] wolfier74 commented on #440
Good idea

[2021-01-06 09:05] Sank6 commented on #438
It should have infinite scrolling but I'll have a look if it's not working.

[2021-01-06 09:05] #436 closed

[2021-01-07 04:31] NotMarx commented on #438
Ok

[2021-01-07 19:57] legofan10 opened #447 "Suggestion: CERTIFICATION"
Add certification pls

[2021-01-08 02:28] DavePlayzz opened #448 "?"
![image](https://user-images.githubusercontent.com/72957357/103967099-df2ff000-5126-11eb-9ffa-4c2d858421f9.png)

[2021-01-08 11:21] ririko5834 commented on #447
Good idea

[2021-01-08 11:23] ririko5834 opened #449 "Webhook for bot likes"
Add Webhook URL form field when adding and editing bot. All bot votes should be sent to the webhook url. Also send there bot approved and denied logs.
There should be that owner can setup logging webhook for every owned bot.

[2021-01-08 12:04] Sank6 commented on #448
https://github.com/Sank6/Discord-Bot-List/wiki/FAQs#invalid-oauth2-redirect-uri

[2021-01-08 12:04] #448 closed

[2021-01-08 12:04] #447 closed

[2021-01-08 15:45] legofan10 opened #450 "How can I..."
how can i permanently delete a bot from the list?

[2021-01-08 15:46] shootdot commented on #450
Delete from website

[2021-01-08 16:36] legofan10 commented on #450
like from the admin side

[2021-01-08 17:04] shootdot commented on #450
From `me` page

[2021-01-08 18:37] legofan10 commented on #450
From an admins point of view. How do they delete the bot by an admin that they don't own

[2021-01-08 19:04] legofan10 opened #451 "Like send message embed:"
I am making the like message an embed message but it won't upvote the bot or send the message. This is the code for the whole `src/routes/api/likes/index.js`.

[code]

[2021-01-09 03:54] shootdot commented on #450
Currently u cant do that

On Fri, 8 Jan 2021, 10:37 pm legofan10, <notifications@github.com> wrote:

[2021-01-09 08:34] ririko5834 commented on #447
Why was this closed?

[2021-01-09 17:04] VortexDev20 opened #452 "ERROR"
The bot is bugged , the website not working . I installed the same thing modified the config.json and nothing

[2021-01-09 17:07] Sank6 commented on #447
https://github.com/Sank6/Discord-Bot-List/issues/357

[2021-01-09 17:08] Sank6 commented on #450
Yeah, I'm hoping to add stuff to the admin dashbaord to be able to manage bots more easily.

[2021-01-09 17:08] Sank6 commented on #451
Any errors?

[2021-01-09 18:57] Himo313 commented on #416
how did you fix it?

[2021-01-09 20:21] Himo313 opened #453 "TypeError: fields.flat is not a function"
I'm getting this error when i write a command eg: help command
![image](https://user-images.githubusercontent.com/39499245/104107914-85fbc400-52c0-11eb-8cf6-690fd83a622a.png)

[2021-01-09 21:44] VortexDev20 opened #454 "error !"
!verify @bot , Cannot read property 'send' of undefined . please help me

[2021-01-10 12:32] NotMarx opened #455 "Marked NSFW Bot Logo On HomePage"
Hi, how I can make the marked nsfw bot in the search & homepage bot's logo is blur?

[2021-01-10 14:38] shootdot commented on #455
It's already there. You can mark any bot as NSFW using command in discord

[2021-01-10 14:40] shootdot commented on #454
Send your full error. Most probably you didn't fill the `mod_log` area in `config.json` or you tried to edit the verify command which ended up causing error .

[2021-01-10 14:40] shootdot commented on #453
@Himo313 Update your NodeJS also make sure your Discord.JS Version is 12. NodeJS version must be greater than 12

[2021-01-10 14:42] shootdot commented on #449
Should it be ExpressJS Webhook like how top.gg has or just you need to enter the Webook URL It sends you whenever any one likes the bot ?

[2021-01-10 16:31] Sank6 commented on #454
Also, use the admin panel, not the bot commands.

[2021-01-10 16:32] #450 closed

[2021-01-10 17:19] Himo313 commented on #453
I know that thing and ofc my discord.js is 12 i will reinstall the discordjs

[2021-01-10 17:38] VortexDev20 commented on #454
this is the only error and i already completed filling the config.json

[2021-01-10 17:39] VortexDev20 commented on #454
about that why my staff can not access to the admin panel ? and if we approve the bot from the panel will it send a message in the channel and to the owner ?

[2021-01-10 17:50] Sank6 commented on #454
It should still send the message.

[2021-01-10 19:54] #453 closed

[2021-01-11 00:15] NotMarx commented on #455
I meant by every nsfw bots logo that listed in the website will be blur.

[2021-01-11 00:25] legofan10 commented on #451
no

[2021-01-11 04:42] NotMarx commented on #455
[code]
I tried something like this but it does not work as I planned. Anything I can do to add blur effect on marked nsfw bot at the homepage?

[2021-01-11 04:56] shootdot commented on #455
It's already coded and there in github download it and in discord to mark bot as nsfw use command `[p]nsfw @bot` when the bot is marked as nsfw in website the bot logo gets blurred.

[2021-01-11 06:50] NotMarx commented on #455
Yeah, I know but when I check my bot at the homepage, the bot's logo isn't blur

[2021-01-11 07:05] NotMarx commented on #455
Nevermind, I fixed it by myself

[2021-01-11 07:05] #455 closed

[2021-01-11 09:12] NotMarx opened #456 "Suggestion: Add Library"
It would be better if we can add the library to shows with which powered the bots.

[2021-01-11 09:35] Sank6 commented on #456
I don't see why that helps anyone though. It would just make the page a little bit more cluttered.

[2021-01-11 09:35] #456 closed

[2021-01-11 10:16] NotMarx opened #457 "Username & Tag gone on mobile preview"
Hi, I just discovered this up when I was using mobile device and see if this might be a bug on mobile.

![980D7880-494F-4D99-9293-FF6828F13174](https://user-images.githubusercontent.com/73813638/104168452-a8acea80-5430-11eb-8fa2-7db4e6797f60.png)

[2021-01-11 19:51] gelones opened #458 "duplicate key error collection mongodb"
I was testing the repository until I found a problem, a person from like on the bot works perfectly, on mongodb a user table is created with the information, but if another person tries to vote for the bot, there is an error in the terminal that does not let the person to vote.

error:

`[EVENT] C:\Users\rogeria\Desktop\Discord-Bot-List-master\node_modules\klasa\src\events\unhandledRejection.js
[2

[2021-01-12 07:10] MrBeanGuy opened #461 "build script"
can someone send the build script..

[2021-01-12 16:52] Zaid-maker commented on #461
?

[2021-01-12 21:46] Sank6 commented on #461
There is no build. It's an express server, just run it.

[2021-01-12 21:46] #461 closed

[2021-01-12 21:46] Sank6 commented on #458
👍 Good issue but that's not the fix. I'll try and fix it in the development branch.

[2021-01-12 21:48] Sank6 commented on #457
That is definitely not intended, I think there's some class name overlap. I'll have a look.

[2021-01-12 22:01] Sank6 commented on #457
^ Fixed

[2021-01-12 22:01] #457 closed

[2021-01-12 22:12] Sank6 commented on #458
Ok so the issue here is going to be MongoDB's index, which basically stores that the `botliked` field needs to be unique. Either use [`dropIndex("botliked")`](https://docs.mongodb.com/manual/reference/method/db.collection.dropIndex/), or edit the index in MongoDB compass / something similar. The fix above will work for a fresh new database with no previous indexing, so if you've only just being us

[2021-01-12 22:12] #458 closed

[2021-01-12 22:37] Sank6 commented on #449
Added to [dev](https://github.com/Sank6/Discord-Bot-List/tree/development). If there aren't any bugs, I can pr it into master.

[2021-01-12 22:37] #449 closed

[2021-01-12 23:34] Sank6 commented on #440
Added 👍

[2021-01-12 23:34] #440 closed

[2021-01-12 23:39] Bobby99as opened #464 "suggestion"
please add support for PostgreSQL

[2021-01-12 23:40] Sank6 commented on #454
Ah, it could be a d.js caching error. Should be fixed now 👍

[2021-01-12 23:40] #454 closed

[2021-01-12 23:41] Sank6 commented on #464
All the code currently uses MongoDB and it doesn't really have a "database manager" so adding/changing database would require an entire rewrite. Sorry, I won't be adding this.

[2021-01-12 23:41] #464 closed

[2021-01-12 23:42] legofan10 commented on #451
@Sank6 any idea?

[2021-01-12 23:42] Sank6 commented on #451
It's `const { MessageEmbed } = require('discord.js');`

[2021-01-12 23:42] #451 closed

[2021-01-12 23:45] Bobby99as commented on #464
mongo DB is honestly a bad experience and you can't really host your own database from it you have to rent a database it honestly sucks

[2021-01-12 23:49] Sank6 commented on #401
If you want to manually add a bot to the frontend hoisted, add this to `dynamic/index.pug`, under `#cards`
[code]
It won't have bot likes because it's static content.

[2021-01-12 23:49] #401 closed

[2021-01-12 23:50] Sank6 commented on #464
You can host your own. Check the [install](https://docs.mongodb.com/manual/installation/#mongodb-community-edition-installation-tutorials) docs.

[2021-01-13 03:24] AtomicGaming666 opened #465 "Login not working"
hey im hosting this on https://repl.it/ and everthing is working as nowmal i thing but the login i keep getting this when i click on login

![image](https://user-images.githubusercontent.com/39306849/104402725-0b29f600-55ab-11eb-9ab4-5d73a700cf7d.png)

EDIT: i fixed that problem but i cant add bots the sudmit button dont work

[2021-01-13 05:24] AtomicGaming666 commented on #465
fixed

[2021-01-13 08:39] ririko5834 commented on #401
Please make command to hoist and unhoist bot.

[2021-01-13 12:23] #465 closed

[2021-01-13 22:53] AtomicGaming666 commented on #439
this did not work for me

[2021-01-14 00:38] Sank6 commented on #439
Make sure the bots share a server with the main bot.

[2021-01-14 02:09] ezywebca opened #466 "Update username on username change"

[2021-01-14 04:31] ezywebca commented on #466
Also when a user is to use this there is a issue for say in the code where if a user attempts to add a bot whether verified or not once a user attempts to change that bots name again it does not change at all across the site nor the mongoDB !!!! Amazing Work tho @Sank6 !!!!

[2021-01-14 11:38] Sank6 commented on #466
#425 but I'll have a look for the second issue.

[2021-01-15 03:56] ezywebca commented on #466
@Sank6 please note that this sites being constantly worked on from a dedi and not launched for public use hence even the ending on the domain but i do have rewrite on for db using monogodb defaulted url they provide hense should be able to re-write the bots info like if one was to use a server list and you update your image on server more then 90% of the time places like disboard and others like i

[2021-01-15 07:00] ezywebca commented on #466
@Sank6 i tested it more everything will update via the bot when changed in discord.com/developers all but the username of the bot stays the same as what it was first labeled as on initial send off to db for that bot if ur following

[2021-01-15 10:08] Sank6 commented on #466
You can host your own version if you want. Check the license.

[2021-01-15 17:39] ezywebca commented on #466
@Sank6 thank u and we are atm (but also working on it) but this is the one issue with ur code..... i do not know what the fix is on it ive looked and looked

[2021-01-16 01:04] ezywebca commented on #466
can u try maybe providing a updated repo with fix ?

[2021-01-16 01:51] Lucaslah commented on #416
Used a different browser, It was a browser issue.

[2021-01-16 17:59] biswajitguha01 opened #467 "How to add own domain ?"
Hi, I want to add my own domain which I purchased, so how to add it??

[2021-01-16 21:23] Sank6 commented on #466
Fixed on dev branch: b4fd223. I'll push to master soon

[2021-01-16 21:23] #466 closed

[2021-01-16 23:46] Lucaslah opened #468 "Shows "User is not in the server" even if they are."
When I try and add a bot the my bot list, I get the User is not in the server even if the user is in the server.

There are not error in console.

Everything else works fine.

[2021-01-17 12:04] biswajitguha01 opened #469 "How to add my own domain ?"
Hi, I just want to add my domain how to do that

[2021-01-17 17:43] Zaid-maker commented on #469
Just add your domain in the config.json file.

[2021-01-17 20:45] biswajitguha01 commented on #469
Ok but , how to add Api ?? There is no api help page.. how to get servercount,

[2021-01-17 21:46] ezywebca commented on #466
thank you for update! im sorry to reply on to this!

[2021-01-17 22:35] Sank6 commented on #469
https://github.com/Sank6/Discord-Bot-List/wiki/Bot-developer-APIs

[2021-01-17 22:35] #469 closed

[2021-01-17 22:35] Sank6 commented on #468
Do you have the correct server id in the config?

[2021-01-18 01:28] DarkPheonix2122 opened #470 "Help"
ok, im having trouble finding the files for changing what the website says!

[2021-01-18 01:31] #470 closed

[2021-01-18 03:07] Lucaslah commented on #468
Yes, I'll double check though.

[2021-01-18 03:34] Lucaslah commented on #468
Fixed, My server id was incorrect.

[2021-01-18 03:34] #468 closed

[2021-01-18 11:50] biswajitguha01 opened #471 "Search option doesn’t work"
Search option not working help me how to fix it

[2021-01-18 11:52] biswajitguha01 commented on #471
`Error [ERR_UNHANDLED_ERROR]: Unhandled error. ('Uncaught Promise Error: \n' +
[2021-01-18 17:48:38]   "TypeError: Cannot read property 'toLowerCase' of undefined\n" +
[2021-01-18 17:48:38]   '    at C:\\Users\\Administrator\\Desktop\\Discord-Bot-List New\\src\\routes\\bots\\search.js:13:26\n' +
[2021-01-18 17:48:38]   '    at Array.filter (<anonymous>)\n' +
[2021-01-18 17:48:38]   '    at C:\\Use

[2021-01-18 20:15] Sank6 commented on #471
Are you on dev or master?

[2021-01-19 09:36] biswajitguha01 commented on #471
I am a dev

[2021-01-19 12:16] Sank6 commented on #471
That could be something to do with the last username update commit. I'll have a look.

[2021-01-19 12:45] biswajitguha01 commented on #471
Ok please resolve this, as soon as possible.

[2021-01-20 14:05] ezywebca opened #472 "Help On Canvas Please For Widget"
Ive tried and tried my main dev whos out atm is the guy who can do canvas like a wiz lol can u shoot me how to edit the .widget (@BotName)  so that i can add in my image layout for widgets so its not grey on white......

[2021-01-20 14:43] ezywebca opened #473 "issue with server count via .info @botname"
always shows up as 0 what do i do? or is it a bug to be fixed and rolled out?

[2021-01-20 18:29] mafineeek commented on #473
you need to post stats by api endpoint.

[2021-01-21 14:06] legofan10 commented on #472
Ok, sure. Screenshot the widget file.

[2021-01-21 16:28] ezywebca opened #474 "also noticed issue inside of users /me section"
as a bot is rejected you are now left with one option this option is only to resubmit the old bot would it not make more sense allowing the user to edit the bot prior to resubmitting incase if there is a issue with invite perms url or something else....idk maybe have edit and forward off to resubmit after bot edit? make more sense! cheers @Sank6

[2021-01-21 16:30] ezywebca commented on #473
ah alright but still confused as why as the main bot in this script is to keep track of bot likes but should also try to keep a bot track of server count (est) from clicks generated by invite button on site!

[2021-01-21 16:31] ezywebca commented on #472
please elaborate my code or the output i would receive from .widget

[2021-01-21 16:40] Sank6 commented on #474
The resubmit button takes you to a form where you can edit it.

[2021-01-21 16:53] legofan10 commented on #472
pls friend my alt so he will send u to a link to DM my real account so I can help you. td1610#1990

[2021-01-21 20:04] legofan10 opened #475 "Bot Owner Left Server Message"
When a bot's owner leaves the server the bot gets kicked but in the bot logs channel it does not send a message saying `Bot Deleted`

[2021-01-21 20:40] #474 closed

[2021-01-21 23:07] Sank6 commented on #473
Might have more servers from other sources and some clicks may not be actual invites.

[2021-01-21 23:07] #473 closed

[2021-01-21 23:09] Sank6 commented on #472
`src/routes/api/embed.js` and the docs are [here](https://canvasconstructor.js.org/).

[2021-01-21 23:09] #472 closed

[2021-01-22 11:13] Sank6 commented on #475
cb36c192ae9be15af2fd6e6382bc261c9930bc38

[2021-01-22 11:13] #475 closed

[2021-01-22 11:37] Sank6 commented on #471
I can't seem to find the issue with the username change, but I've added the search button on mobile.
Can you add a `console.log(JSON.stringify(bot))` inside the filter function on line 13 `src/routes/bots/search.js` and check the final bot logged before throwing the error.

[2021-01-23 15:50] legofan10 opened #477 "How would I make a banned users"
I want to make a part that if i made a part in the config file for banned_ids and if someone logged into discord on the site with that banned id they would get a 403 error page.

[2021-01-25 20:33] Sank6 commented on #477
Banning them from the server means they can't add or edit bots but they can still vote and see other bots.

[2021-01-25 20:33] #477 closed

[2021-01-26 19:48] legofan10 commented on #406
Can you make one?

[2021-01-26 20:23] legofan10 opened #478 "How would I make a page that would pop up if someone goes on the site during site downtime?"
My question is in the header of this issue

[2021-01-27 02:26] Sank6 commented on #478
Use a service like cloudflare.

[2021-01-27 02:26] #478 closed

[2021-01-28 16:40] VortexDev20 opened #479 "[Suggestion] : Add a different listing systeme !"
Add a different listing systeme like top.gg , exemple : Most voted , last added , last voted , top servers

[2021-02-02 15:10] PasinduDushan opened #480 "Add the certification for the bots"
It'll be really good if you guys add certification for the bots.

[2021-02-03 01:34] #480 closed

[2021-02-04 13:24] legofan10 opened #481 "New API Code: s4d"
What is the server count API for the language s4d?

[2021-02-04 15:04] shootdot commented on #481
Do you mean Python ?

[2021-02-04 15:15] legofan10 commented on #481
IDK? Someone asked my to post with s4d.

[2021-02-04 15:16] legofan10 commented on #481
He/She says it is made with scratch for discord

[2021-02-05 11:09] Sank6 commented on #481
The code in the wiki is just sample code for python and nodejs. For anything else, just use the [table](https://github.com/Sank6/Discord-Bot-List/wiki/Bot-developer-APIs#sending-requests).

[2021-02-05 11:09] #481 closed

[2021-02-06 08:36] NevaehAnimeLover opened #483 "it not working"
internal/modules/cjs/loader.js:638
    throw err;
    ^

Error: Cannot find module 'module-alias/register'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:636:15)
    at Function.Module._load (internal/modules/cjs/loader.js:562:25)
    at Module.require (internal/modules/cjs/loader.js:692:17)
    at require (internal/modules/cjs/helpers.js:25:18)
    at Object.<anonymous> (

[2021-02-06 11:20] Sank6 commented on #483
https://github.com/Sank6/Discord-Bot-List/wiki/Setup-Information#setting-up

[2021-02-06 11:20] #483 closed

[2021-02-06 17:24] NevaehAnimeLover opened #484 "Im using repl"
internal/modules/cjs/loader.js:968
  throw err;
  ^

Error: Cannot find module '@bot/index'
Require stack:
- /home/runner/DarkcyanImpishBackticks/Discord-Bot-List/src/index.js
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:965:15)
    at Function.Module._resolveFilename (/home/runner/DarkcyanImpishBackticks/node_modules/module-alias/index.js:49:29)
    at Function.Module._

[2021-02-08 21:31] Sank6 commented on #484
Module alias isn't working properly. If it doesn't work on the platform, use absolute paths.

[2021-02-08 21:31] #484 closed

[2021-02-10 20:41] S4qib opened #485 "Do we need to provide credits"
A person i know is using this, its not pubicly released but is credits needed in the website once released? Thanks in advance.

[2021-02-12 19:18] Sank6 commented on #485
Yes, to some extent. Check the conditions on the [license](https://github.com/Sank6/Discord-Bot-List/blob/master/LICENSE.md).

[2021-02-12 19:18] #485 closed

[2021-02-14 12:22] A1an-org opened #486 "Sorry, But please read"
Hey there!
Sorry to disturb you but can i get perms to use the botlist?
under GNU General Public License v3.0 i can't use it for public use if i dont get perms!
Sorry again.

[2021-02-14 17:16] Sank6 commented on #486
Yeah sure. Under GPL v3, you have permissions to use it commercially. Look at the summary that Github provides [here](https://github.com/Sank6/Discord-Bot-List/blob/master/LICENSE.md)

[2021-02-14 17:16] #486 closed

[2021-02-16 00:24] ezywebca opened #487 "Allowing server posting like https://github.com/Botrixlist/botrix"
be cool if you can add in over time m8 a way to post servers as well but btw this work is beautiful!

😄 keep it up @Sank6 but id like and im sure many others a starting point other then botrix https://github.com/Botrixlist/botrix to use like your clean projects 😄 please respond when you have time! Cheers!

[2021-02-16 03:13] Sank6 commented on #487
I don't work no this much because I don't use it myself so a serverlist would be a lot, but if someone wants to make a pr, feel free.

[2021-02-16 03:13] #487 closed

[2021-02-16 05:04] numselli opened #488 "error 403 forbiden when deleting bots"
![image](https://user-images.githubusercontent.com/58607232/108020512-651a4300-6fd1-11eb-8a15-61603a0e3c79.png)

[2021-02-17 03:33] DavePlayzRB opened #489 "fields.flat is not a function"
`fields.flat is not a function`? what can i do to fix it?

[2021-02-17 21:40] ezywebca opened #490 "search /bots/search not working?"
the link image on site the link for search that would point off to /bots/search to search bots does not work

[2021-02-17 22:48] ezywebca commented on #489
update your node version @DavePlayzRB im assuming your using node version 10.something u need node version 12+

[2021-02-17 22:49] ezywebca commented on #479
maybe bot packs?? as well!

[2021-02-17 22:53] ezywebca commented on #479
oh also one more thing that should be added real quick is the bots invite field should be shown on the initial bot submit form you have it showing on resubmit form but not bot initial submit form should add that in as well!

[2021-02-18 05:49] ezywebca commented on #490
@Sank6 any idea on how to fix this btw ?

[2021-02-18 05:50] ezywebca commented on #490
sites over at https://www.dislister.ga

[2021-02-18 15:27] Sank6 commented on #490
Can you log this https://github.com/Sank6/Discord-Bot-List/issues/471#issuecomment-765341288

[2021-02-18 15:28] Sank6 commented on #488
Only the primary owner can delete a bot

[2021-02-18 15:28] #489 closed

[2021-02-18 20:21] ezywebca commented on #490
@Sank6 im confused as what you want me todo ive done this what would you like the output

[2021-02-18 20:25] ezywebca commented on #490
im on plesk running this i cant console log this

[2021-02-18 20:27] numselli commented on #488
i am the only owner on the bot that i was trying to delete

[2021-02-18 20:31] Sank6 commented on #488
Try logging out and log back in.

[2021-02-18 20:33] Sank6 commented on #490
Are you on the dev branch or master?

[2021-02-18 20:41] ezywebca commented on #490
@Sank6 master
but this what i got for you
`{"owners":{"additional":[],"primary":"676195747904880690"},"ratelimit":{"time":"2021-02-17T20:57:23.739Z"},"state":"verified","tags":[],"nsfw":false,"likes":1,"username":"PartnerBot","botid":"805958622336778242","logo":"https://cdn.discordapp.com/avatars/805958622336778242/9e9b54e1f5c33dfe5e86ce76784d2c1e.png?size=256","description":"PartnerBot Is your #1

[2021-02-18 20:42] ezywebca commented on #490
i had to use repl to pull this up but i build on repl then deploy off to dedicated servers or vps this is already on a vps never issue before so very confused im not sure as to the fix here

[2021-02-18 20:48] numselli commented on #488
i have loged out and back in i have also cleared my cache and cookies. the problem still occures

[2021-02-19 00:30] ezywebca commented on #488
same for me

[2021-02-19 03:01] ezywebca commented on #490
yeah @Sank6 this is the error over and over i get consoled

[2021-02-19 03:00:46] [EVENT] /home/runner/dbl/node_modules/klasa/src/events/unhandledRejection.js
[2021-02-19 03:00:46] Error [ERR_UNHANDLED_ERROR]: Unhandled error. ('Uncaught Promise Error: \n' +
[2021-02-19 03:00:46]   "TypeError: Cannot read property 'toLowerCase' of undefined\n" +
[2021-02-19 03:00:46]   '    at /home/runner/dbl/src

[2021-02-19 03:02] ezywebca commented on #490
and this is fresh out of box ive tested this via repl before and it worked only thing not working is this and im not seeing a search on mobile ether

[2021-02-19 03:24] shootdot commented on #490
Can you try clearing your Mongo database and then add bot then try it.

[2021-02-19 03:25] ezywebca commented on #490
its not the mongodb @shootdot as this was proveded on a BRAND new deploy to further prove there is error in code

[2021-02-19 03:27] shootdot commented on #490
If you can can you provide me the repl link so that I can have a look at it ?

[2021-02-19 03:28] shootdot commented on #488
When did you start using this botlist tho ? If you are using this botlist before Nov 19 2020 then it may cause the bug if not there is something wrong with the code.

[2021-02-19 03:29] shootdot commented on #490
Also Sank6 Sorry I have not been active in this repo because of School works 😔

[2021-02-19 03:31] ezywebca commented on #490
was planning on it but seems my repl account atm @shootdot is being slow af give me a few ping u back

[2021-02-19 03:36] shootdot commented on #490
It's okay take your time.

[2021-02-19 03:38] ezywebca commented on #490
@shootdot https://repl.it/join/pgaeckje-n3wbot

[2021-02-19 03:39] ezywebca commented on #490
also change the db name to newblist to newblisttesting if u like that be a blank fresh one never used and watch still wont work

[2021-02-19 03:40] shootdot commented on #490
Okay Let me have a look

[2021-02-19 04:12] ezywebca commented on #490
![image](https://user-images.githubusercontent.com/70344872/108456623-b4b17680-723e-11eb-99bf-e4591fdb4fc4.png)

[2021-02-19 04:12] shootdot commented on #490
@ezywebca Come back to repl

[2021-02-19 04:12] ezywebca commented on #490
im on repl @shootdot

[2021-02-19 04:13] ezywebca commented on #490
![image](https://user-images.githubusercontent.com/70344872/108456688-da3e8000-723e-11eb-892f-310bae60290d.png)
Whjere u @shootdot

[2021-02-19 04:22] shootdot commented on #490
@Sank6 Found the issue. You need to filter unverified bots in the search router. As unverified bots still don't have a username it ends up with error.

[2021-02-19 04:24] shootdot commented on #490
Edit the file `src/routes/bots/search.js`
[code]

[2021-02-19 04:27] ezywebca commented on #490
Thanks again btw!!

[2021-02-19 06:01] numselli commented on #488
I added my bot on 01/14/2021 and it got approved on the same day. As for it being an issue with the code I am unsure if the list is using this version or a fork.

[2021-02-19 06:21] ezywebca opened #491 "add a cerification i know it can be done as u have it on ur own site"
@Sank6 if u can this be a nice feature to release for public

[2021-02-19 06:24] shootdot commented on #491
Wdym by his/her own site ?

[2021-02-19 06:24] ezywebca commented on #488
ether way fork or not this is a issue and it is in the hard code @numselli im sure @Sank6 and or @shootdot or another one them will get to this fix they fixed a issue with my list not being able to show the page /bots/search

But this is a issue as i am owner of course with ID set in place guys and i even try to delete bot from site wont work i have to use the main auth bot to remove the bot from

[2021-02-19 12:13] Sank6 commented on #491
I don't have my own site. I don't host a version of this.

[2021-02-19 12:14] Sank6 commented on #490
Thank you @shootdot . I'll add this later today.

[2021-02-20 02:49] numselli commented on #488
I found the source of the error but I can't troubleshoot why it's occurring. File [delete.js](https://github.com/Sank6/Discord-Bot-List/blob/master/src/routes/api/bots/delete.js) line 17. I think it should be changed to `if (!bot.owners.primary !== req.user.id || !server.admin_user_ids.includes(req.user.id)) return res.sendStatus(403)`

[2021-02-20 13:11] shootdot commented on #488
Fixed it
@Sank6 You need to fix here
[code]

[2021-02-20 13:12] shootdot commented on #488
It was `if (!bot.owners.primary !== req.user.id && !server.admin_user_ids.includes(req.user.id)) return res.sendStatus(403)` it will be fine if you remove `!` before `bot.owners.primary`

[2021-02-20 18:45] Sank6 commented on #490
Fixed in dev branch

[2021-02-20 18:45] #490 closed

[2021-02-20 18:45] Sank6 commented on #471
Fixed

[2021-02-20 18:45] #471 closed

[2021-02-20 18:46] Sank6 commented on #488
Fixed in dev branch

[2021-02-20 18:46] #488 closed

[2021-02-20 21:35] #491 closed

[2021-02-22 11:39] endwayxd opened #492 "Submit Button not working"
Submit Button not working

[2021-02-22 12:34] #492 closed

[2021-02-22 12:35] endwayxd opened #493 "Verify Bots not working"
When i try to Verify a Bot
It shows :
[No write concern mode named 'majoritymajority' found in replica set configuration]

[2021-02-23 14:44] Sank6 commented on #493
Try removing `&w=majority` from your mongodb url

[2021-02-25 14:36] Not-LagsAlot opened #495 "Packages Not Being Installed"
[code]

[2021-02-25 19:39] DavePlayzRB opened #496 "Site Won't Show Also Help Command Not Working"
[code]

[2021-02-27 15:02] Zaid-maker commented on #496
Please tell your node version you installed on your machine and also please reinstall all the packages.

[2021-02-28 00:00] Sank6 commented on #495
Those aren't packages. That's module alias

[2021-02-28 09:58] Not-LagsAlot commented on #495
But how do I get rid of it?

[2021-02-28 10:16] Zaid-maker commented on #496
This is also because giving npm wrong command. Do `node .` in your terminal and it should work.

[2021-02-28 16:48] VortexDev20 opened #497 "Site error"
Error: Failed to lookup view "index" in views directory "src/dynamic"
    at Function.render (/root/Discord-Bot-List/node_modules/express/lib/application.js:580:17)
    at ServerResponse.render (/root/Discord-Bot-List/node_modules/express/lib/response.js:1012:7)
    at /root/Discord-Bot-List/src/routes/index.js:19:27
    at Layer.handle [as handle_request] (/root/Discord-Bot-List/node_modules/expr

[2021-02-28 17:13] Zaid-maker commented on #497
Because you give wrong npm command.

Sent from Mail for Windows 10

From: Vortex_
Sent: Sunday, February 28, 2021 9:49 PM
To: Sank6/Discord-Bot-List
Cc: Subscribed
Subject: [Sank6/Discord-Bot-List] Site error (#497)

Error: Failed to lookup view "index" in views directory "src/dynamic"
at Function.render (/root/Discord-Bot-List/node_modules/express/lib/application.js:580:17)
at ServerResponse.rend

[2021-02-28 20:44] Sank6 commented on #495
What?

[2021-03-01 03:49] Not-LagsAlot commented on #495
its still giving me the error, I am using repl.it btw

[2021-03-01 14:39] hama120 opened #498 "Don't work redirect url"
Hi, I'm host your projects but can work on redirect whene you login on your. Discord hi say redirect not working how can fix it please tell me ?

[2021-03-01 16:05] shootdot commented on #498
Please send the error you are facing here.

[2021-03-02 02:37] DavePlayzRB commented on #496
won't work

[2021-03-02 10:45] Zaid-maker opened #499 "[Suggestion] A custom background for bot using imgur."
That's a great idea for the bots because many lists have this feature like top.gg  and it looks really cool. Also there is a mistake in me page when viewing a bot that I owned at the end it only shows the owner pfp but not shows the tag in the previous release it was showing @Sank6

[2021-03-02 11:45] Zaid-maker commented on #499
Also sank6 the owner of node-pre-gyp is no longer maintained his owner has made a new one which will gets update in future @mapbox/node-pre-gyp.

[2021-03-03 13:28] Akurejs opened #500 "Bots do not update"
When the owners of the bots make changes to them as name and photo, have no effect on the bot list, for example I changed the name of my bot from Robot to Robot 2 ta bot list is still Robot even using the update command, and the photo also does not change.

[2021-03-03 15:16] hama120 commented on #498
[Click here to see it ](https://cdn.discordapp.com/attachments/780798080768278578/816690446151450704/Screenshot_20210303_181523_com.microsoft.emmx.jpg)

[2021-03-03 18:09] JustReddy7397 commented on #498
Have the same lol

[2021-03-05 10:40] hama120 commented on #498
Site don't work when click login button Authorize don't work please tell me how to fix it?

[2021-03-05 12:09] Suleymannn2853 commented on #498
i dont know sorry bro

hama120 <notifications@github.com>, 5 Mar 2021 Cum, 13:40 tarihinde şunu
yazdı:

[2021-03-05 18:28] JustReddy7397 commented on #498
Hey @hama120 go into src/utils/passport.js and change the callbackURL to ur own domain, for example: https://mydomain.com/api/callback or https://mydomain.com:25565/api/callback

[2021-03-06 05:36] DavePlayzRB commented on #499
Make IT Your Self i did it

![image](https://user-images.githubusercontent.com/76022877/110196646-866d9280-7e0b-11eb-8c8a-afb127c8e097.png)
i remove the background because i have to update the cards

[2021-03-06 07:26] haydenwalker980 commented on #498
@hama120 Did you add the URI to your app?

[2021-03-06 16:06] Sank6 commented on #499
node-pre-gyp isn't used anywhere, I'll remove it. Also, good suggestion

[2021-03-06 16:07] Sank6 commented on #500
Are you sure that's not browser cache?

[2021-03-06 16:07] Sank6 commented on #498
https://github.com/Sank6/Discord-Bot-List/wiki/FAQs#invalid-oauth2-redirect-uri

[2021-03-06 16:07] #498 closed

[2021-03-06 16:07] #497 closed

[2021-03-06 16:09] Sank6 commented on #496
Make sure you have node v12+

[2021-03-06 16:09] #496 closed

[2021-03-06 16:09] Sank6 commented on #495
I don't know how repl.it works, but you don't need to install them

[2021-03-06 16:10] #493 closed

[2021-03-06 17:00] Zaid-maker commented on #499
Good to hear that you like the suggestion

[2021-03-06 23:01] Akurejs commented on #500
absolute, to date the bot is with the old name in the botlist has not been updated.

[2021-03-08 18:48] wolfier74 opened #501 "config.js instead of config.json"
Please use config.js instead config.json for configuration.
This would be good for those who want to put some values to .env, as they can write process.env.value to config.js but not to json file :/

[2021-03-12 02:49] Zaid-maker commented on #500
Yes dude the bots does not update.

[2021-03-13 08:09] HideakiAtsuyo commented on #501
It's not This is not a problem, so this issue is pretty useless because you can modify this for yourself and because more than the half of js users use json and not js for config files except when they have big needs like dynamic values and other things...

[2021-03-13 21:19] tovade opened #504 "How do js codes work in public folder"
Hello sank6,
Im working on adding features to the list such as certification i have added my script to the js folder in assets in the public folder but i am wondering the script is not working. In my visual studio code it says other js scripts get exported but i can't see where. Can u explain how i need to export it? Thank you if you read this.

[2021-03-15 14:30] Akurejs commented on #500
will there be correction?

[2021-03-16 04:31] goodlacker123-botdev opened #505 "Liking feature does not work"
Hi. When I was going to like a bot on my website, I got the error "You can like again in 11 hours and 60 minutes" even though I had not voted for any bot since around 5-7 days prior. I had other people trying to like the bot to see if it was just a problem on my end, but they got the same error. Is there an issue with the system?

Also I don't know if this is helpful, but I am using the master bra

[2021-03-17 15:45] #504 closed

[2021-03-17 15:46] tovade opened #506 "Api routes: 404 not found"
Im getting this error:
![image](https://user-images.githubusercontent.com/66245404/111496140-53e36400-8740-11eb-966c-a310c93dd40b.png)
Any idea why? thanks!

[2021-03-17 18:52] tovade commented on #506
Can i also know where the api routes get loaded? Thanks

[2021-03-17 18:59] tovade commented on #388
I would say 1 comment every 3 - 6 hours

[2021-03-22 02:25] goodlacker123-botdev commented on #505
Nevermind, it was an issue on my end.

[2021-03-22 02:25] #505 closed

[2021-03-25 17:46] Jonfirexbox opened #507 "Added in staff"
So i'm hosting this bot list, and before i open it i want to add beta testers, and also i wanted to add some Website Moderators, but i can't since their is no code for any of it, could this be added soon?

I know this was once suggested, but like i'm trying to code it in but then nothing ever works!

[2021-03-25 20:09] Sank6 commented on #507
Like bot verifiers?

[2021-03-25 20:10] Sank6 commented on #506
There's no code in this repo that has certification. That's either modified code, or not from this.

[2021-03-25 20:11] Sank6 commented on #501
You can just change it yourself. Change all references of the config file to `config.js` and just export the json. I don't think it's necessary to add this

[2021-03-25 20:11] #501 closed

[2021-03-25 20:11] #495 closed

[2021-03-25 20:59] Jonfirexbox commented on #507
Yea Bot verifiers, Website Moderators, and add in Beta Testers

[2021-03-25 21:10] Jonfirexbox commented on #507
Also 1 more thing, being able to add premium to certain bots

[2021-03-27 00:24] Jonfirexbox commented on #507
@Sank6 you their?

[2021-03-27 11:30] Sank6 commented on #507
There's already config for admin and bot verifiers.

[2021-03-27 11:43] tovade commented on #506
i fixed it (i forgot i had this issue open)

[2021-03-27 11:43] tovade commented on #506
btw the code was made by myself

[2021-03-27 12:04] Jonfirexbox commented on #507
No i mean like to mods so they can deal with bot verification as well

[2021-03-27 15:15] #506 closed

[2021-03-27 15:15] Sank6 commented on #507
How is that different to bot verifiers?

[2021-03-27 15:22] Jonfirexbox commented on #507
Because on the website for someone to be a bot verifier, it says that are admin, I wanted to see if their could be a way you can put it as where you have Admins and Mods listed differently

[2021-03-29 08:10] LuckyTarget opened #509 "Bots do not display"
I have more than 10 bots on my botlist and i can only see 3 of them! To be able to see the others i have to zoom x200 so i can move the scroll bar and then i can go back to normal window size!

[2021-03-29 20:34] LuckyTarget opened #510 "future addition"
Very good would be in the long  description of Bot to accept html, markdown css and such things.

[2021-03-29 21:40] #509 closed

[2021-04-01 06:35] anshtyagi0 opened #511 "Bot issue"
Repl.it: Updating package configuration

--> npm install @utils/fileWalk @root/config.json @utils/passport.js @utils/createAuth.js @routes/bots @routes/theme @utils/getList.js @models/bots @utils/getList @bot/index @utils/checkFields @routes/api @routes/tag @utils/authApi @utils/discordApi @models/users @structures/app.js
npm ERR! code E404
npm ERR! 404 Not Found - GET https://registry.npmjs.org/@

[2021-04-02 09:19] LuckyTarget opened #512 "Issue with Delete"
I find out hat the delete button does not work!

[2021-04-02 10:31] Zaid-maker commented on #512
It works

[2021-04-02 10:32] Zaid-maker commented on #510
You can add it either by yourself because sank6 wont addd it cuz people can put virus through html description.

[2021-04-02 20:42] SpaceLeft opened #513 "appove"
add command appove to appoved bots

[2021-04-03 09:40] lunadraws opened #514 "Error"
Hi i have a problem its me this error message

Error: ENOENT: no such file or directory, open '../../../../../etc/letsencrypt/live/faster-bots.com/privkey.pem'
    at Object.openSync (fs.js:476:3)
    at Object.readFileSync (fs.js:377:35)
    at Object.<anonymous> (C:\Users\Nava\Documents\discord-bot-list\src\structures\app.js:12:23)
    at Module._compile (internal/modules/cjs/loader.js:1063:30)

[2021-04-03 12:22] LuckyTarget commented on #510
can you tell me how can i do it ?

[2021-04-03 12:24] LuckyTarget commented on #512
I think there isnt anything hard to know how it works, it just tells you to type the Bot's name, and then "delete" but it does not do anything

[2021-04-03 12:34] Zaid-maker commented on #514
You messed up with something

[2021-04-03 12:34] Zaid-maker commented on #513
There is lol

[2021-04-03 12:34] Zaid-maker commented on #513
🤣🤣🤣🤣🤣

[2021-04-03 12:36] Zaid-maker commented on #512
Please check that you put the correct channel I'd in the config file where the bot will fire the event and tell you that that the bot is deleted.

[2021-04-03 12:36] Zaid-maker commented on #511
Please dont use repl.it for hosting the site because there is some problem with the directories in the repl.it

[2021-04-03 12:43] nickdevnl commented on #514
You dod something wrong with your ssl cert

[2021-04-03 13:14] LuckyTarget commented on #512
there isnt any channel for this:
![image](https://user-images.githubusercontent.com/39243722/113479408-996d9400-9497-11eb-8938-efda8fe60d9f.png)

[2021-04-03 13:36] #512 closed

[2021-04-03 14:09] LuckyTarget opened #515 "Widget Font Issues"
![image](https://user-images.githubusercontent.com/39243722/113480891-65966c80-949f-11eb-9a45-876dc9dfbc7b.png)

[2021-04-05 22:07] Sank6 commented on #510
It already supports HTML. There's a source button.

[2021-04-05 22:07] #510 closed

[2021-04-05 22:09] Sank6 commented on #511
Yeah those aren't repos. That's just module alias

[2021-04-05 22:09] #511 closed

[2021-04-05 22:09] #513 closed

[2021-04-05 22:13] Sank6 commented on #515
What OS are you running it on? It's just Verdana and the default sans and sans-serif fonts with `canvas-constructor`.

[2021-04-05 22:14] Sank6 commented on #514
Yeah it looks like something to do with letsencrypt

[2021-04-05 22:14] #514 closed

[2021-04-05 23:48] badriian24 opened #516 "when the liked vote does not send success"
liked not send success and cant time the timing doesn't work

[2021-04-06 08:17] HemilPlayzYT opened #517 "botlist"
Sank6, if u see this can u help me with my bot list because mine wont even turn on

[2021-04-09 09:09] lordm121 opened #518 "Bug help me on website"
![Screenshot_20210409_120833_com android chrome](https://user-images.githubusercontent.com/74502300/114157490-5ba3bc00-992c-11eb-99ad-9db4ee2a3af4.jpg)
He said bot offline when all bots online

[2021-04-09 23:48] SkyAlumny opened #519 "[Qestion] Like reset"
Will the likes be automatically reset to 0 at some point or can they be reset somehow

[2021-04-11 21:21] AlfieFrost commented on #518
The bot has to be in the Bot List's discord server for the status feature to work.

[2021-04-12 05:16] omxpro commented on #388
Jeez this is a goooooood idea

[2021-04-12 21:11] lordm121 commented on #518
The bot is in server but not working

[2021-04-13 07:40] Nim1com opened #520 "Error"
C:\Users\nikla\Desktop\GITHUB\Discord-Bot-List\node_modules\discord.js\src\util\BitField.js:151
    throw new RangeError('BITFIELD_INVALID', bit);
    ^

RangeError [BITFIELD_INVALID]: Invalid bitfield flag or number: 3072.
    at Function.resolve (C:\Users\nikla\Desktop\GITHUB\Discord-Bot-List\node_modules\discord.js\src\util\BitField.js:151:11)
    at new BitField (C:\Users\nikla\Desktop\GITHUB\

[2021-04-13 07:40] Nim1com commented on #520
Stuff is filled correctly
 but the roles are not yet done

[2021-04-13 18:42] nickdevnl commented on #516
any error

[2021-04-13 18:55] Zaid-maker commented on #516
Check your config file and the lke_log value make sure you give a correct
channel id.

On Tue, 13 Apr 2021 at 23:42, NickDevNL ***@***.***> wrote:

[2021-04-14 05:08] Nim1com commented on #518
How did you get the site to replit?

[2021-04-14 08:50] #520 closed

[2021-04-14 14:59] lordm121 commented on #518
I hosted on replit all work but my problem on offline 🙂 all bot on server

[2021-04-14 14:59] lordm121 commented on #518
Transfer on github to replit

[2021-04-16 09:40] tovade commented on #518
Please enable intents on your bot!

[2021-04-16 16:29] alex12266 opened #522 "Error help"
When trying to verify a bot, it comes out and when trying to access to postulate a bot there is also an error which says inavalid
![image](https://user-images.githubusercontent.com/74673312/115055122-b0a07e80-9ea6-11eb-8446-3edd7063b000.png)
![image](https://user-images.githubusercontent.com/74673312/115055370-f6f5dd80-9ea6-11eb-9205-ede2f1842092.png)

[2021-04-18 15:58] eitanmdk opened #523 "problem with captcha"
It says me its not valid for this domain and I put the secret key and the key

[2021-04-19 05:12] BlackKnight683 opened #524 "Force push bots to top / premium stats"
Can you please make a command or provide me a way on how i can show specific bots at the top of the list for a set time or something?

Like top.gg premium feature which shows the bot golden and such

[2021-04-19 20:25] lordm121 commented on #518
This is or no
![Screenshot_20210419_232449_com android chrome](https://user-images.githubusercontent.com/74502300/115298732-811f9980-a166-11eb-8bb2-ad95080fdfae.jpg)

[2021-04-20 15:44] BlackKnight683 opened #525 "Site not loading in.... Only able to see header"
![image](https://user-images.githubusercontent.com/75422863/115425542-00ad7700-a200-11eb-9855-38556d847c5f.png)
Im only able to see this :(

[2021-04-21 07:37] BlackKnight683 commented on #525
nvm
i had to add a bot

[2021-04-21 07:37] #525 closed

[2021-04-22 19:48] vitin-ON opened #526 "bug"
there is a bug on the website that you can vote on in a loop

[2021-04-23 15:19] FriiZoLoGYy opened #527 "Hosting issues"
Currently I'm trying to host the site on my vps, running npm start works yes so but upon closing terminal the site goes down. Doing pm2 start src/index.js throws the "can not view index error"

I've also updated my nose and updated all dependencies along with updating pm2

Any thought on how to get the site to go up and stay up?

[2021-04-23 18:47] #527 closed

[2021-04-23 18:47] FriiZoLoGYy commented on #527
I figured out my issue

[2021-04-25 17:27] FriiZoLoGYy opened #528 "API returns error 404"
Currently I am hosting the site in my vps with its own domain, everything is functioning except for the API. Following the table in the wiki,
`domain/api/auth/liked/botid`

I have tried both requests get & post each returns 404 error. This is also while trying http & https.  Just curious if I'm doing something wrong

[2021-04-25 21:24] reisxd commented on #524
Just do it yourself.

[2021-04-25 21:25] reisxd commented on #519
Nope, it wont reset anytime.

[2021-04-25 21:26] reisxd commented on #517
#268

[2021-04-26 06:45] reisxd commented on #522
In the first screenshot maybe the bot you are trying to verify does not have a profile picture
In the second screenshot: https://github.com/Sank6/Discord-Bot-List/wiki/FAQs#invalid-oauth2-redirect-uri

[2021-04-30 09:23] BunkDev5674 opened #529 "always says bot is offline"
heyo the thingy always says offline and its annoying

[2021-05-01 11:28] Sank6 commented on #507
Ah so a different badge for mods?

[2021-05-01 11:28] #515 closed

[2021-05-01 11:29] #517 closed

[2021-05-01 11:30] Sank6 commented on #519
You can reset the values in the database if you want though.

[2021-05-01 11:30] #519 closed

[2021-05-01 11:33] Sank6 commented on #522
I think you're trying to verify a bot that doesn't exist in the database. Add it with the site first.

[2021-05-01 11:33] #522 closed

[2021-05-01 11:33] Sank6 commented on #523
Have you got the domain in the reCaptcha dashboard too?

[2021-05-01 11:35] Sank6 commented on #524
#401

[2021-05-01 11:35] #524 closed

[2021-05-01 11:35] Sank6 commented on #528
Have you put in the correct bot id?

[2021-05-01 12:00] Sank6 commented on #529
Just added to FAQ: https://github.com/Sank6/Discord-Bot-List/wiki/FAQs#why-are-all-bots-shown-as-offline

[2021-05-01 12:00] #529 closed

[2021-05-01 12:02] Sank6 commented on #500
Just tested. It does update. Just go onto the bot's page and refresh it a couple times.

[2021-05-01 12:02] #500 closed

[2021-05-01 12:03] #516 closed

[2021-05-01 12:03] Sank6 commented on #518
Yes. Enabling presence intents will show the bot's status.

[2021-05-01 12:03] #518 closed

[2021-05-01 12:05] Sank6 commented on #526
I can't seem to replicate this:
![image](https://user-images.githubusercontent.com/25014241/116781897-d3718c00-aa7d-11eb-9295-51792d5c4c9f.png)

[2021-05-01 12:07] #528 closed

[2021-05-01 12:20] Sank6 commented on #507
Added: 7af09842b03362042f10c50e6782ac1fb75045f0

[2021-05-01 12:20] #507 closed

[2021-05-01 21:49] Seek0999 opened #532 "Unexpected Token"
I have filled out all forms of the config correctly yet i still seem to get the "/config.json: Unexpected token p in JSON at position 19" its something to do with the bot options.

Im not sure how to fix this, me and my friend have tried yet we can not find a way to fix it...

[2021-05-02 00:39] #532 closed

[2021-05-02 04:19] FriiZoLoGYy commented on #528
Yes I have

[2021-05-02 11:37] Sank6 commented on #528
I tested it and it works fine for me. Is the response JSON, or HTML?

[2021-05-05 17:32] LuckyTarget opened #533 "CKEDITOR"
Is there any way to change CKEDITOR/script to make Long desc accept automatically html/css/markdown without the tools? Because I'm searching for that thing and I cannot make it for some reason.

[2021-05-06 01:47] BunkDev5674 opened #534 "Listing categories"
Hey, would it be possible to add like categories on the front page that the bots are listed under such as sponsored, most liked, ect? And maybe some more badges like the admin badge that users can get

[2021-05-06 01:50] BunkDev5674 commented on #499
yes do please

[2021-05-07 10:32] #523 closed

[2021-05-07 10:34] Sank6 commented on #534
#401

[2021-05-07 10:34] #534 closed

[2021-05-08 16:29] Sank6 commented on #533
What do you mean?

[2021-05-08 17:03] Sank6 commented on #533
Oh, press the source button to edit the HTML directly.

[2021-05-08 17:03] #533 closed

[2021-05-09 14:32] Zaid-maker opened #536 "What about more profile features?"
It would be nice if you can add more profile feature for the user. Like setting the status etc..

[2021-05-11 10:27] EmbedConner opened #537 "Bot tags problem!!"
I'm trying to add a tag with so many different inputs but it not showing a tag why? I also go to the edit bot page and I saw the select called "select tags" but when I click on it it does show noting. how to fix it?

[2021-05-11 10:36] EmbedConner opened #538 "Bot tags problem!"
I'm trying to add a tag with so many different inputs but it not showing a tag why? I also go to the edit bot page and I saw the select called "select tags" but when I click on it it does show noting. how to fix it? @Sank6 should give bot tag input in add bot too.

[2021-05-12 02:07] EmbedConner commented on #538
@LuckyTarget Thanks you!

[2021-05-12 02:15] #537 closed

[2021-05-12 02:23] EmbedConner commented on #479
@Sank6 Yess please! add a different listing systeme.

[2021-05-12 16:58] whiteewolf opened #539 "HTML long description doesnt render"
HTML long description on bots doesnt render like it needs

```<h1> test test </h1>``` should be big text but it shows ```<h1> test test </h1>```

[2021-05-12 19:37] sprayx opened #540 "Where I get the "like_log" and "mod_log_id"?"
Where I get the "like_log" and "mod_log_id" on config.json?

[2021-05-13 02:08] #540 closed

[2021-05-14 17:51] TheCuteFoxxy opened #541 "Support hCaptcha"
Due to privacy issues and technical issues with Google's reCaptcha (data collection and selling, IP bans via reCaptcha). I would suggest adding support for hCaptcha.

https://docs.hcaptcha.com/switch/#serverside
https://github.com/vastus/express-hcaptcha

hCaptcha is reverse compatible with reCaptcha and but requires changing the NPM package used from reCaptcha's to hCaptcha's.

[2021-05-15 18:34] Zaid-maker commented on #541
I have setup hCaptch on my liste LOL.

[2021-05-15 22:09] Konrad570 commented on #57
What if u close your cluster and create a new one?

[2021-05-15 22:46] TheCuteFoxxy commented on #541
Your reply is helpful how?

[2021-05-18 16:42] FriiZoLoGYy opened #542 "Issues Creating New Page"
Im just having some issues creating another page for the site, I'm currently working on adding a privacy policy to the site but every time I make a privacy.pug it returns the 404 page, just wondering why

[2021-05-18 16:44] #542 closed

[2021-05-19 12:37] Zaid-maker opened #543 "Google ADs issues."
so i was trying to run ads on my site but google refuses and saying it's violates privacy how is it?

https://cordx.wtf/79ace6.png

[2021-05-19 12:38] Zaid-maker commented on #541
nice

[2021-05-19 12:38] Zaid-maker commented on #541
same like google captcha install hcaptcha package

[2021-05-19 16:38] crt-romain78 opened #544 "Embed bug"
![image](https://user-images.githubusercontent.com/75182534/118850703-58a7ce00-b8d1-11eb-85d2-6ff269c0b59e.png)

there is a ss of the embed shown when I click on embed

[2021-05-21 15:13] Zaid-maker commented on #543
@Sank6

[2021-05-21 15:13] Zaid-maker commented on #544
Any error in console?

[2021-05-23 12:02] crt-romain78 commented on #544
yes there is a error:

[2021-05-23 11:59:28] [EVENT] /root/bot-list/node_modules/klasa/src/events/unhandledRejection.js
[2021-05-23 11:59:28] Error [ERR_UNHANDLED_ERROR]: Unhandled error. ('Uncaught Promise Error: \n' +
[2021-05-23 11:59:28]   "Error: ENOENT, No such file or directory '/root/bot-list/src/routes/api/verified_badge.png'\n" +
[2021-05-23 11:59:28]   '    at setSource (/root/bot-list/

[2021-05-24 16:41] Sank6 commented on #544
Make sure you have the file `verified_badge.png` in the `src/routes/api` folder.

[2021-05-24 16:41] #544 closed

[2021-05-24 16:42] Sank6 commented on #543
I don't know. Check their privacy policy. Also, not related to this repo.

[2021-05-24 16:42] #543 closed

[2021-05-24 16:43] Sank6 commented on #539
Make sure you're using the source tab in the long description if you're writing plain HTML. Otherwise, use the markdown tools.

[2021-05-24 16:43] #539 closed

[2021-05-24 16:43] #538 closed

[2021-05-25 14:11] Zaid-maker opened #546 "Action on klasa deprecation."
Please take a review on klasa depreciation or maybe use another one.

[2021-05-25 14:12] Zaid-maker commented on #546
![Screenshot_20210525-191224_Chrome.jpg](https://user-images.githubusercontent.com/53424436/119512914-314b7800-bd8d-11eb-8f4b-36235d778a08.jpg)

[2021-05-25 18:47] Zaid-maker commented on #546
Yes

[2021-05-26 10:59] EmbedConner opened #547 "Add report feature!"
Users also can report if the bot is copied from their bot or spaming bot!

[2021-05-26 12:02] Zaid-maker commented on #547
Nice idea

On Wed, May 26, 2021, 3:59 PM EmbedConner Code ***@***.***>
wrote:

[2021-05-27 00:07] KodeNoleg opened #548 "Adding bot not working"
Hello, whenever I press "Add Bot" it doesn't work. I put in everything in config.json EXCEPT the capcha. Can you please help? Thank you!

[2021-05-27 11:17] Zaid-maker commented on #548
Without captcha it will not work.

[2021-05-27 11:19] Zaid-maker commented on #543
They are not telling anything about privacy

[2021-06-02 16:52] #548 closed

[2021-06-02 18:38] NoSoyDany opened #549 "Error with command verify"
Good afternoon!

My bot is bug, i can't fix it. Help?
ERROR: https://pastebin.com/szTKXvth

[2021-06-02 18:46] #549 closed

[2021-06-02 18:47] NoSoyDany commented on #549
Fixed :D

[2021-06-02 21:09] NoSoyDany opened #550 "Problem with command verify"
Hello, I was looking at the previous issues and I saw that a guy had the same problem as me but I don't know how to fix it.
Error with command verify, i have all connected to the database.... https://prnt.sc/13r38mn

Error:
[2021-06-02 23:06:34] [COMMAND] C:\Users\danie\Desktop\Discord-Bot-List-master\src\bot\commands\Bots\verify.js
[2021-06-02 23:06:34] TypeError: Cannot read property 'owners' of

[2021-06-02 21:54] #550 closed

[2021-06-02 21:55] NoSoyDany opened #551 "Problem when log in (Replit project)"
Hello! When i log in with my discord account it give to me this error in webpage:

TokenError: Invalid "redirect_uri" in request.
    at Strategy.OAuth2Strategy.parseErrorResponse (/home/runner/ddes/node_modules/passport-oauth2/lib/strategy.js:358:12)
    at Strategy.OAuth2Strategy._createOAuthError (/home/runner/ddes/node_modules/passport-oauth2/lib/strategy.js:405:16)
    at /home/runner/ddes/no

[2021-06-02 21:55] NoSoyDany commented on #551
https://prnt.sc/13ra4cl

[2021-06-03 15:21] DJHARDY2K21 commented on #551
I get the same, I'm also trying to setup the OAuth

[2021-06-06 14:31] Zaid-maker commented on #551
obviously you have to setup the redirect in your discord bot application,.

[2021-06-09 19:38] rastacabeza opened #552 "SyntaxError: Unexpected token '.'"
![imagen_2021-06-09_163814](https://user-images.githubusercontent.com/66240184/121418190-165a3580-c941-11eb-855d-7ecfbd9665bd.png)
I have that error when I start the bot

[2021-06-15 03:15] pherngpy opened #553 "module not found, can't install"
console log :
[code]
when i do
npm install module-alias/register
console log:
[code]
please help me
platform : linux
hosting on : replit

[2021-06-15 13:58] fnleaks commented on #552
delete

[2021-06-15 14:01] rastacabeza commented on #552
What I have to delete?

[2021-06-15 14:33] reisxd commented on #552
You need node 14+ for that to work

[2021-06-15 23:07] DBMfan commented on #552
I have the same error, I don't know how to fix it.

[2021-06-15 23:18] DBMfan commented on #552
Update: Deleting `await new App(client).listen(port || 8080);` removes all the errors but does not start up the website, Just the discord bot

[2021-06-16 01:12] #553 closed

[2021-06-16 01:12] pherngpy commented on #553
it fixed

[2021-06-16 01:19] pherngpy opened #554 "OAuth2"
when logging in,

on discord redirects settings there ,
i put
[code]
in config.json
[code]
after clicking `authorize` ,
![Picture2](https://user-images.githubusercontent.com/77534483/122143737-a0942380-ce84-11eb-8482-f28604b7ea9e.png)

pls help me , thank you